[Desktop Entry]
Encoding=UTF-8
Name=Sakura Terminal
Comment=Use the command line
TryExec=sakura
Exec=sakura
Icon=/usr/share/pixmaps/terminal-tango.png
Type=Application
Categories=GTK;Application;Utility;TerminalEmulator;
StartupNotify=true
