[Desktop Entry]
Encoding=UTF-8
Name=Neverball
GenericName=Puzzle & Action Game
Exec=neverball
Terminal=false
Type=Application
Categories=Application;Game;ActionGame
Icon=/usr/share/pixmaps/neverball.png
StartupNotify=false
