[Desktop Entry]
Encoding=UTF-8
Name=Neverputt
GenericName=Miniature Golf Game
Exec=neverputt
Terminal=false
Type=Application
Categories=Application;Game;ActionGame
Icon=/usr/share/pixmaps/neverputt.png
StartupNotify=false
