[Desktop Entry]
Encoding=UTF-8
Name=VICE C64 emulator
Comment=Commodore 64 emulator from the VICE team
StartupNotify=true
Exec=x64
Icon=vice.png
Terminal=false
Type=Application
Categories=System
