[Desktop Entry]
Encoding=UTF-8
Name=VICE CBM2 emulator
Comment=Commodore CBM2 emulator from the VICE team
StartupNotify=true
Exec=xcbm2
Icon=vice.png
Terminal=false
Type=Application
Categories=System
