[Desktop Entry]
Encoding=UTF-8
Name=VICE PLUS4 emulator
Comment=Commodore PLUS4 emulator from the VICE team
StartupNotify=true
Exec=xplus4
Icon=vice.png
Terminal=false
Type=Application
Categories=System
