[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=gtkpod
Comment=Manage songs on your Apple iPod
Comment[de]=Verwalte Musik auf deinem Apple iPod
Exec=gtkpod
Icon=gtkpod
Categories=AudioVideo;
