[Desktop Entry]
Name=Berusky
Name[he]=Berusky
Comment=Rescue the bugs!
Exec=/usr/games/berusky
Icon=/usr/share/pixmaps/berusky.png
Terminal=false
Type=Application
Categories=Game;LogicGame;
