[Desktop Entry]
Name= Berusky
Name[he]= Berusky
Comment= Rescue the bugs!
Exec=berusky
Icon=berusky
Terminal=false
Type=Application
Categories=Game;Puzzle;LogicGame;
GenericName=Game
