[Desktop Entry]
Exec=python /usr/share/sofastats/start.py
GenericName=Analysis package
Icon=/usr/share/sofastats/images/sofastats_48.xpm
Name=SOFA Statistics
StartupNotify=true
Terminal=false
Type=Application
