[Desktop Entry]
Type=Application
Name=Xdman
GenericName=Xtreme Download Manager
Comment=Powerfull download accelarator and video downloader
Icon=/usr/share/pixmaps/xdman.png
Exec=xdman
TryExec=xdman
Terminal=false
Categories=Network;
