[Desktop Entry]
Name=Typhoon 2001
Exec=/usr/games/typhoon_2001
Type=Application
Icon=typhoon_2001
GenericName=Tempest-like game
Categories=Game;ArcadeGame;
