[Desktop Entry]
Name=AdvanceMAME
Comment=Arcade Game Emulator
Exec=/usr/games/advmenu
Icon=advancemame
Terminal=false
Type=Application
Categories=Game;Emulator;
