[Desktop Entry]
Type=Application
Name=NeoMutt
GenericName=Mail Client
Comment=Simple text-based Mail User Agent with sidebar
Icon=neomutt
Exec=neomutt %u
MimeType=x-scheme-handler/mailto;
Terminal=true
Categories=Network;Email;
