[Desktop Entry]
Type=Application
Version=1.0
Name=Syobon Action
GenericName=Platform Game
Exec=syobonaction
Icon=syobonaction
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
