[Desktop Entry]
Name=Eterm
Comment=Eterm is a color vt102 terminal emulator
Exec=Eterm
Icon=Eterm
Terminal=false
Type=Application
Categories=System;TerminalEmulator
GenericName=Terminal
