[Desktop Entry]
Type=Application
Name=FreeFileSync
Exec=FreeFileSync %F
Icon=FreeFileSync
Terminal=false
Categories=Utility;FileTools;Archiving;
StartupNotify=true
MimeType=application/x-freefilesync-gui;application/x-freefilesync-batch;
Comment=Folder Comparison and Synchronization
Comment[ar]=مقارنة ومزامنة المجلدات
Comment[bg]=Сравняване и синхронизация на папки
Comment[cs]=porovnání a synchronizace složek
Comment[da]=Mappesammenligning og synkronisering
Comment[de]=Ordnervergleich und Synchronisation
Comment[el]=Σύγκριση Φακέλων και Συγχρονισμός
Comment[en_GB]=Folder Comparison and Synchronisation
Comment[es]=Comparación y sincronización de carpetas
Comment[fi]=Hakemistojen vertailu ja synkronointi
Comment[fr]=Comparaison de dossiers et Synchronisation
Comment[he]=סנכרון קבצים ותיקיות
Comment[hi]=निर्देशिका तुलना और सिंक्रनाइज़ेशन
Comment[hr]=Usporedba i sinkronizacija mapa
Comment[hu]=Mappa összehasonlítás és szinkronizálás
Comment[it]=Comparazione delle Cartelle e Sincronizzazione
Comment[ja]=フォルダの比較と同期
Comment[ko]=폴더 비교 및 동기화
Comment[lt]=Aplankų Palyginimas ir Suvienodinimas
Comment[nl]=Map vergelijken en synchroniseren
Comment[no]=Mappe-sammenligning og synkronisering
Comment[pl]=Porównywanie i Synchronizacja folderów
Comment[pt]=Comparação e Sincronização de Pastas
Comment[pt_BR]=Comparação e Sincronização de Pastas
Comment[ro]=Comparație și sincronizare a directoarelor
Comment[ru]=Сравнение и синхронизация
Comment[sk]=Porovnanie a synchronizácia priečinkov
Comment[sl]=Primerjava in sinhronizacija mape
Comment[sv]=Mappjämförelse och synkronisering
Comment[tr]=Klasör karşılaştırma ve eşitleme
Comment[uk]=Порівнювання та Синхронізація папок
Comment[vi]=So sánh và đồng bộ hóa thư mục
Comment[zh]=文件夹比较与同步
Comment[zh_TW]=資料夾比對和同步
