[Desktop Entry]
Comment=
Exec=FreeFileSync
GenericName=Folder Comparison and Synchronization
Icon=FreeFileSync
Name=FreeFileSync
NoDisplay=false
StartupNotify=true
Categories=GTK;Utility;
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
