[Desktop Entry]
Type=Application
Name=Qodem (X11)
Comment=ANSI-BBS Terminal
Comment[es]=Emulador de Terminal ANSI-BBS
Icon=qodem
Exec=qodem-x11 %u
Terminal=false
Categories=TerminalEmulator;Network;Dialup;
Keywords=BBS;Terminal;Ansi;
