[Desktop Entry]
Type=Application
Name=TRS80GP
Comment=TRS-80 Model I/II/III/4/4P/etc Emulator
Exec=/usr/games/trs80gp %F
Icon=trs80gp
Terminal=false
Categories=Game;Emulator;
