[Desktop Entry]
Version=1.0
Type=Application
Name=Alloy Analyzer
Comment=Alloy modeling language and analyzer
Exec=alloy
Icon=alloy.png
Terminal=false
Categories=Development;
StartupNotify=true
