[Desktop Entry]
Encoding=UTF-8
Name=Abgx360 GUI 
Comment=A program for checking if your xbox backups are valid
Comment[fr]=Un programme pour vérifier si vos backups sont valides
Exec=abgx360gui
Icon=abgx360gui
Terminal=false
Type=Application
Categories=Utility;Games
StartupNotify=true
