[Desktop Entry]
Name=Heroic
Comment=Heroic Games launcher
Icon=heroic
Exec=/opt/heroic-bin/heroic -- %u
Terminal=false
Type=Application
Categories=Games
