[Desktop Entry]
Type=Application
Name=ColEm
GenericName=ColecoVision Emulator
Exec=aoss colem %f
Icon=colem
Terminal=false
Categories=Game;Emulator;
NoDisplay=true
Actions=Play;
MimeType=application/x-cvrom;

[Desktop Action Play]
Name=Play
Exec=colem %f
