[Desktop Entry]
Version=1.0
Name=Ghemical
Comment=Ghemical software for quantum-mechanics and molecular mechanics models
Exec=ghemical -f %f
Terminal=false
TryExec=ghemical
StartupNotify=true
Type=Application
Categories=GTK;GNOME;Education;Science;Chemistry;
MimeType=application/x-ghemical;
Icon=ghemical
