[Desktop Entry]
GenericName=
Name=Hydra
MimeType=
Exec=xhydra
Icon=hydra
Type=Application
Terminal=false
Comment=Network login cracker
Categories=Utility;
