[Desktop Entry]
Name=ZXBasicStudio
GenericName=ZX Basic Studio
Comment=An IDE for ZX Basic
Exec=/opt/zxbasicstudio/ZXBasicStudio
Icon=zxbasicstudio
Terminal=false
Type=Application
Categories=Development;IDE;
StartupNotify=false
