[Desktop Entry]
Version=1.0
Terminal=False
Type=Application
Categories=Office;Finance;
Name=Moneydance
Comment=Personal Finance Manager
Exec=/bin/sh "/opt/Moneydance/Moneydance"
Icon=/opt/Moneydance/moneydance_icon32.png
