[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=Office;Finance;
Name=Moneydance
Comment=Personal Finance Manager
Exec=/bin/sh "/opt/moneydance/moneydance"
Icon=moneydance
