[Desktop Entry]
Encoding=UTF-8
Name=Kobo Deluxe
GenericName=Kobo Deluxe, a retro arcade-style game
Exec=kobodl
Icon=KoboDeluxe.png
Type=Application
Categories=Application;Game;Arcade
