[Desktop Entry]
Name=Kobo Deluxe
GenericName=Kobo Deluxe, a retro arcade-style game
Exec=kobodl
Icon=KoboDeluxe
Type=Application
Categories=Game;ArcadeGame;
