[Desktop Entry]
Name=butt
Name[af]=butt
Name[as]=butt
Name[ast]=butt
Name[be]=butt
Name[be@latin]=butt
Name[bg]=butt
Name[bn_IN]=butt
Name[ca]=butt
Name[ca@valencia]=butt
Name[cs]=butt
Name[csb]=butt
Name[da]=butt
Name[de]=butt
Name[el]=butt
Name[en_GB]=butt
Name[eo]=butt
Name[es]=butt
Name[et]=butt
Name[eu]=butt
Name[fi]=butt
Name[fr]=butt
Name[ga]=butt
Name[gl]=butt
Name[he]=butt
Name[hr]=butt
Name[hsb]=butt
Name[hu]=butt
Name[ia]=butt
Name[id]=butt
Name[is]=butt
Name[it]=butt
Name[ja]=butt
Name[ka]=butt
Name[kk]=butt
Name[km]=butt
Name[ko]=butt
Name[ku]=butt
Name[lt]=butt
Name[lv]=butt
Name[ms]=butt
Name[nb]=butt
Name[nds]=butt
Name[nl]=butt
Name[nn]=butt
Name[oc]=butt
Name[pl]=butt
Name[pt]=butt
Name[pt_BR]=butt
Name[ro]=butt
Name[ru]=butt
Name[se]=butt
Name[sk]=butt
Name[sl]=butt
Name[sr@ijekavianlatin]=butt
Name[sr@latin]=butt
Name[sv]=butt
Name[tg]=butt
Name[tr]=butt
Name[ug]=butt
Name[uk]=butt
Name[uz]=butt
Name[uz@cyrillic]=butt
Name[vi]=butt
Name[wa]=butt
Name[x-test]=xxbuttxx
Name[zh_CN]=butt
Name[zh_TW]=butt
Exec=butt
Icon=butt
Type=Application
Categories=Audio;Sound;
GenericName=Broadcast Using This Tool
GenericName[x-test]=xxBroadcast Using This Toolxx
Terminal=false
