[Desktop Entry]
Version=1.0
Exec=mucommander
TryExec=mucommander
Icon=mucommander
Terminal=false
Name=muCommander
GenericName=File manager
Comment=File manager
Categories=System;
Type=Application
StartupNotify=false
