[Desktop Entry]
Name=Quake (SDL)
GenericName=Darkplaces Port of idsoftware's Quake (Software)
Exec=darkplaces-sdl
Terminal=false
Type=Application
Categories=Game;
Icon=quake
StartupNotify=false
