[Desktop Entry]
Name=Lux Core UI
GenericName=Lux Core UI
Comment=LuxCore rendering
Exec=LD_LIBRARY_PATH=/usr/lib64/luxcorerender-2.6 /opt/luxcorerender-2.6/luxcoreui
Icon=/usr/share/icons/hicolor/scalable/apps/luxcore.svg
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;
