[Desktop Entry]
Name=Lux Core Net Node UI
GenericName=Lux Core Net Node UI
Comment=LuxCore Nodes
Exec=PYTHONPATH=$PYTHONPATH:/opt/luxcorerender-2.6 python3 /opt/luxcorerender-2.6/pyluxcoretools.zip netnodeui
Icon=/usr/share/icons/hicolor/scalable/apps/luxcore.svg
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;
