[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=SmartGit
Keywords=git;hg;svn;mercurial;subversion
GenericName=Git&Hg-Client + SVN-support
Type=Application
Categories=Development;RevisionControl
Terminal=false
StartupNotify=true
Exec="/usr/share/smartgit/bin/smartgit.sh" %u
MimeType=x-scheme-handler/smartgit
Icon=smartgit
