[Desktop Entry]
Name=Return To Castle Wolfentstein (Multiplayer)
GenericName=iortcw port of Idsoftware's Return To Castle Wolfenstein
Exec=iortcw-mp
Terminal=false
Type=Application
Categories=Game;Emulator;
Icon=iortcw
StartupNotify=false
