[Desktop Entry]
Name=Jitsi Meet
Comment=Jitsi Meet Desktop App
Exec=jitsi-meet-desktop
Terminal=false
Type=Application
Icon=jitsi-meet-desktop
StartupWMClass=Jitsi Meet
Categories=VideoConference;AudioVideo;Audio;Video;Network;
