[Desktop Entry]
Version=1.0
Name=rxvt
Comment=Classic X terminal emulator
Exec=rxvt
Icon=rxvt
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
