[Desktop Entry]
Version=1.0
Type=Application
Name=gcolor2
GenericName=Color Chooser
Comment=Pick colors via numeric input, color wheel, or named colors
Icon=gcolor2
Exec=gcolor2
Terminal=false
Categories=Graphics;GTK;
