[Desktop Entry]
Type=Application
Name=fre:ac
GenericName=Audio Converter
Exec=freac
TryExec=freac
Terminal=false
Icon=/usr/share/pixmaps/freac.png
Categories=AudioVideo;
