[Desktop Entry]
Version=1.0
Name=The Ur-Quan Masters
Name[de]=Der Ur-Quan Dominanz
Name[en]=The Ur-Quan Masters
Name[es]=Los Amos Ur-Quan
Name[fi]=Ur-Quan Mastersiin
Name[fr]=Les Seigneurs Ur-Quan
Name[it]=I Dominatori Ur-Quan
Name[ru]=Ур-Кванские Хозяева
Comment=An interstellar adventure game
Comment[de]=Ein interstellar Abenteuerspiel
Comment[en]=An interstellar adventure game
Comment[es]=Una aventura interestelar
Comment[fr]=Une aventure interstellaire
Exec=/usr/games/uqm
Icon=uqm
StartupNotify=true
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
