[Desktop Entry]
Name=kForth-64
Comment=kForth-64 a 64-bit Forth System for x86_64
Exec=/usr/bin/kforth64
Icon=/usr/share/pixmaps/kforth.xpm
Terminal=true
Type=Application
Categories=Development;

