[Desktop Entry]
Name=Kuickshow
Comment=A fast and convenient image viewer
Exec=/usr/bin/kuickshow
Terminal=false
Type=Application
Categories=Graphics;
Icon=Kuickshow
