[Desktop Entry]
Name=Sublime Text
GenericName=Text Editor
Exec=sublime_text
Icon=sublime_text
Type=Application
Terminal=false
Categories=Utility;TextEditor;
