[Desktop Entry]
Name=VASSAL
Comment=Engine for board and card games
Exec=VASSAL
Icon=VASSAL
Terminal=false
Type=Application
Categories=Game
GenericName=Board and card game engine
MimeType=application/x-vnd.vassalengine.module;application/x-vnd.vassalengine.module-extension;application/x-vnd.vassalengine.game-log;application/x-vnd.vassalengine.saved-game
