[Desktop Entry]
Categories=Education;
Comment=Convert FCS data into ascii
Exec=java -jar /usr/bin/FCS2Data.jar
Icon=FCS2Data
Name=Flow cytometry FCS2data
Type=Application
GenericName=
