[Desktop Entry]
Name=MLDonkey GUI
GenericName=MLDonkey GUI
Comment=The MLDonkey GUI
Exec=mldonkey_gui
Icon=mldonkey
Terminal=false
Type=Application
Categories=Network;
