[Desktop Entry]
Categories=Education;
Comment=A feature rich and easy to use phylogenetic tree editor
Exec=TreeGraph
Icon=TreeGraph
Name=TreeGraph 2
StartupNotify=false
Type=Application
