[Desktop Entry]
Name=Quakespasm
GenericName=Quakespasm port of ID Software's Quake
Exec=quakespasm
Terminal=false
Type=Application
Categories=Game;
Icon=quakespasm
StartupNotify=false
