[Desktop Entry]
Name=Root Terminal
Name[cs]=Terminál uživatele root
Name[da]=Root-terminal
Name[es]=Terminal de «Root»
Name[fr]=Terminal administrateur
Name[hu]=Rendszergazda terminál
Name[it]=Terminale root
Name[ko]=루트 터미널
Name[lt]=Administratoriaus terminalas
Name[nl]=Terminal als root
Name[pl]=Terminal użytkownika root
Name[pt_BR]=Terminal como Root
Name[sv]=Root-terminal
Comment=Opens a terminal as the root user, using gksu to ask for the password
Comment[cs]=Otevře terminál pod uživatelem root, na heslo se dotáže přes gksu
Comment[da]=Åbner en terminal som brugeren root, og bruger gksu til at spørge om adgangskoden. 
Comment[de]=Root-Terminal
Comment[es]=Abre un terminal como el usuario «root» utilizando gksu para preguntar la contraseña.
Comment[fr]=Ouvrir un terminal en tant qu'administrateur, en utilisant gksu pour demander le mot de passe
Comment[hu]=Megnyit egy rendszergazda terminált, a gksu-t használva a jelszó bekérésére
Comment[it]=Apre un terminale come root, usando gksu per la richiesta della password
Comment[ko]=루트 사용자로 터미널을 열고, GKSU로 열쇠글을 물어봅니다
Comment[lt]=Atveria terminalą 'root' naudotojo teisėmis, naudojant gksu slaptažodžiui įvesti
Comment[nl]=Start een terminal als de root-gebruiker waarbij gksu gebruikt wordt om het wachtwoord te vragen.
Comment[pl]=Uruchamia terminal użytkownika root, używając gksu do wczytania hasła
Comment[pt_BR]=Abre um terminal como usuário root, usando o gksu para pedir a senha
Comment[sv]=Öppnar en terminal som root-användaren och använder gksu för att fråga efter lösenordet
Exec=gksu /usr/bin/@USERTERM@
Icon=gksu-root-terminal
StartupNotify=true
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GTK;Utility;TerminalEmulator;
