[Desktop Entry]
Name=Quake III
GenericName=ioquake3 port of Idsoftware's Quake3
Exec=ioquake3
Terminal=false
Type=Application
Categories=Game;Emulator;
Icon=quake3
StartupNotify=false
