[Desktop Entry]
Name=Plover
GenericName=Stenography
Comment=Plover stenotype engine
Icon=plover
Exec=plover
TryExec=Plover
Terminal=false
Type=Application
Categories=Office;
