[Desktop Entry]
Encoding=UTF-8
Exec=specimen
Icon=
Name=Specimen
GenericName=Midi Soft-Sampler
StartupNotify=true
Type=Application
Categories=AudioVideo;
