[Desktop Entry]
Name=CLAM Music Annotator
GenericName=Music annotation tool
Comment=A tool to compute and edit music related information
Icon=/usr/share/pixmaps/annotator-icon1.svg
Type=Application
Categories=AudioVideo;Audio;Music;
Exec=Annotator
Terminal=false
