[Desktop Entry]
Type=Application
Version=1.0
Name=FamiTracker Qt
GenericName=Music Tracker
Comment=Qt fork of FamiTracker
Path=/usr/bin
Exec=famitracker
Icon=/usr/share/pixmaps/famitracker.png
Terminal=false
Categories=Qt;AudioVideo;Audio;Midi;
Keywords=audio;tracker;chiptune;
