[Desktop Entry]
Exec=/usr/bin/snd
Icon=snd_48x48
Name=Snd
GenericName=Snd Editor
GenericName[fr]=Snd Éditeur
GenericName[ja]=Snd エディタ
GenericName[ru]=Snd редактор
StartupNotify=true
Type=Application
Categories=Audio;AudioVideo;
