[Desktop Entry]
Name=Luppp
Name[af]=Luppp
Name[as]=Luppp
Name[ast]=Luppp
Name[be]=Luppp
Name[be@latin]=Luppp
Name[bg]=Luppp
Name[bn_IN]=Luppp
Name[ca]=Luppp
Name[ca@valencia]=Luppp
Name[cs]=Luppp
Name[csb]=Luppp
Name[da]=Luppp
Name[de]=Luppp
Name[el]=Luppp
Name[en_GB]=Luppp
Name[eo]=Luppp
Name[es]=Luppp
Name[et]=Luppp
Name[eu]=Luppp
Name[fi]=Luppp
Name[fr]=Luppp
Name[ga]=Luppp
Name[gl]=Luppp
Name[he]=Luppp
Name[hr]=Luppp
Name[hsb]=Luppp
Name[hu]=Luppp
Name[ia]=Luppp
Name[id]=Luppp
Name[is]=Luppp
Name[it]=Luppp
Name[ja]=Luppp
Name[ka]=Luppp
Name[kk]=Luppp
Name[km]=Luppp
Name[ko]=Luppp
Name[ku]=Luppp
Name[lt]=Luppp
Name[lv]=Luppp
Name[ms]=Luppp
Name[nb]=Luppp
Name[nds]=Luppp
Name[nl]=Luppp
Name[nn]=Luppp
Name[oc]=Luppp
Name[pl]=Luppp
Name[pt]=Luppp
Name[pt_BR]=Luppp
Name[ro]=Luppp
Name[ru]=Luppp
Name[se]=Luppp
Name[sk]=Luppp
Name[sl]=Luppp
Name[sr@ijekavianlatin]=Luppp
Name[sr@latin]=Luppp
Name[sv]=Luppp
Name[tg]=Luppp
Name[tr]=Luppp
Name[ug]=Luppp
Name[uk]=Luppp
Name[uz]=Luppp
Name[uz@cyrillic]=Luppp
Name[vi]=Luppp
Name[wa]=Luppp
Name[x-test]=xxLupppxx
Name[zh_CN]=Luppp
Name[zh_TW]=Luppp
Exec=/usr/bin/luppp
Icon=luppp
Type=Application
Categories=Audio;Sound;
GenericName=Looper
GenericName[x-test]=xxLooperxx
Terminal=false