[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Categories=Application;Network;
Terminal=false
Exec=/usr/bin/betterbird
Path=/opt/betterbird
Name=Betterbird
GenericName=Email client
GenericName[it]=Client di posta elettronica
Icon=/usr/share/icons/hicolor/scalable/apps/betterbird.svg
Comment=A fine-tuned version of Mozilla Thunderbird, Thunderbird on steroids, if you will.
Comment[it]=Una versione ricalibrata di Mozilla Thunderbird, in pratica Thunderbird sotto steroidi.
