[Desktop Entry]
Encoding=UTF-8
Version=1.5
Type=Application
Categories=Application;Network;Office;Email;Calendar;
Terminal=false
Exec=/usr/bin/betterbird
Path=/opt/betterbird
Name=Betterbird
Icon=Betterbird
GenericName=Email client
GenericName[it]=Client di posta elettronica
Comment=A fine-tuned version of Mozilla Thunderbird, Thunderbird on steroids, if you will
Comment[it]=Una versione ricalibrata di Mozilla Thunderbird, in pratica Thunderbird sotto steroidi
