Robby Workman <rworkman@slackware.com>
Robby Workman <rworkman@slackbuilds.org>
Erik Hanson <erik@slackbuilds.org>
Rob McGee <rob0@slackbuilds.org>
Willy Sudiarto Raharjo <willysr@slackbuilds.org>
Heinz Wiesinger <pprkut@slackbuilds.org>
Dave Woodfall <dave@slackbuilds.org>
Matteo Bernardini <ponce@slackbuilds.org>
B. Watson <urchlay@slackbuilds.org>
Andrew Clemons <aclemons@slackbuilds.org>
David Spencer <idlemoor@slackbuilds.org>
David Somero <xgizzmo@slackbuilds.org>
Michiel van Wessem <michiel@slackbuilds.org>
