[Desktop Entry]
Name=Open Source Worship Presentation
Name[he]= OpenLP
Comment=Open Source Worship Presentation
Exec=openlp.pyw
Icon=OpenLP
Terminal=false
Type=Application
Categories=Multimedia;AudioVideo
GenericName=AudioVideo
