[Desktop Entry]
Version=1.0
Type=Application
Name=ldglite
GenericName=ldglite LDRAW viewer and editor
Categories=Graphics;
Exec=/usr/bin/ldglite %f
Icon=ldglite
Terminal=false
StartupNotify=false
MimeType=application/x-ldraw;application/x-multipart-ldraw;
