[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Qucs
GenericName=Circuit simulator
Comment=
Icon=qucs
Exec=qucs
Categories=Education;Electronics;
MimeType=
