[Desktop Entry]
Name=Bos Wars
Name[he]= Bos Wars
Comment=RTS
Exec=/usr/share/games/boswars-2.7/boswars -d /usr/share/games/boswars-2.7
Icon=boswars
Terminal=false
Type=Application
Categories=Game;RTS
GenericName=Game
