[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-atari800-saved-state
Icon=atari-a8s
Patterns=*.a8s;*.A8S;
#X-KDE-PatternsAccuracy=80
Comment=Atari800 Emulator Saved State
