[Desktop Entry]
Version=1.0
Type=Application
Name=flSynclient
Comment=Configure your Synaptics touchpad
Exec=flsynclient
Icon=/usr/share/pixmaps/flsynclient.png
Categories=Settings
