[Desktop Entry]
Categories=Education;
Exec=isoelectric-point
Icon=isoelectric-point.png
Name=Isoelectric Point Calculator
StartupNotify=false
Type=Application
