[Desktop Entry]
Encoding=UTF-8
Name=xfhell
GenericName=xfhell
Comment=GTK+ graphical application for the Hellschreiber communication mode
Exec=xfhell
Icon=xfhell
Terminal=false
Type=Application
Categories=Network;HamRadio;DataModes;
Version=1.0
X-Desktop-File-Install-Version=0.15
