[Desktop Entry]
Version=1.0
Name=GtkBalls
GenericName=Logic Game About Balls
Type=Application
Exec=gtkballs
Icon=gtkballs
Terminal=false
StartupNotify=false
Categories=Game;
