[Desktop Entry]
Version=1.0
Name=Fantasia
Comment=LinuxSampler GUI
Exec=fantasia
Icon=fantasia
Terminal=false
Type=Application
Categories=Audio;AudioVideo;
