[Desktop Entry]
Name=JAPA (ALSA)
Comment=JACK and ALSA Perceptual Analyser
Exec=japa -A
Icon=japa
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
