[Desktop Entry]
Name=KAdventure
Comment=Simple 2D puzzle Game. Guide the man to the exit
Exec=KAdventure
Icon=KAdventure
Terminal=false
StartupNotify=false
Type=Application
Categories=Game;LogicGame;
