[Desktop Entry]
Name=Logseq
Comment=Open Source platform for knowledge sharing and management
Comment[fr]=Plateforme Open Source pour le partage et la gestion des connaissances
Exec=logseq %u
Terminal=false
Type=Application
Icon=logseq
StartupWMClass=logseq
Categories=Office
MimeType=x-scheme-handler/logseq
