[Desktop Entry]
Name=sdlpop
Comment=Prince of Persia I
Exec=/usr/games/sdlpop
Icon=sdlpop
Terminal=false
Type=Application
Categories=Game;ActionGame;
