[Desktop Entry]
Version=1.0
Name=SMS Plus/SDL
GenericName=Sega Master System Emulator
Type=Application
Exec=sms_sdl
Icon=sms_sdl
Terminal=false
StartupNotify=false
Hidden=true
Categories=Game;Emulator;
