[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-sega-game-gear-rom
Icon=sms_sdl
Patterns=*.gg;*.GG;
#X-KDE-PatternsAccuracy=80
Comment=Sega Game Gear ROM Image
