[Desktop Entry]
Version=1.0
Type=Application
Name=gcolor2
GenericName=Color Chooser
Comment=Pick colors via numeric input, color wheel, or named colors
Icon=/usr/share/pixmaps/gcolor2/icon.png
Exec=gcolor2
Terminal=false
Categories=Utility;GTK;
