[Desktop Entry]
Name=Mr. Rescue
Comment=Rescue civilians from a burning building
Exec=mrrescue
Icon=mrrescue
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
