[Desktop Entry]
Name=Galaxy Forces V2
Name[he]= Galaxy Forces V2
Comment=Action
Exec=/usr/share/games/galaxyv2-1.79/./galaxyv2
Icon=galaxyv2
Terminal=false
Type=Application
Categories=Game;Action
GenericName=Game
