[Desktop Entry]
Version=1.0
Name=gBDFed
GenericName=BDF Font Editor
Type=Application
Exec=gbdfed
Icon=gbdfed
Terminal=false
StartupNotify=true
Categories=Utility;Graphics;2DGraphics;
