[Desktop Entry]
Name=Simple Sysexxer
Name[de]=Simple Sysexxer
Exec=simplesysexxer %i -caption "%c"
Icon=simplesysexxer
Type=Application
MimeType=audio/x-sysex;
Comment=A tool to send and receive MIDI SysEx data
Comment[de]=Ein Hilfsprogramm, um SysEx-Daten mit MIDI-Geräten auszutauschen
Terminal=false
Categories=KDE;Qt;Audio;AudioVideo;
