[Desktop Entry]
Type=Application
Name=Fritzing
GenericName=Fritzing
Comment=Electronic Prototyping software
Exec=Fritzing
Icon=fritzing
Terminal=false
Categories=Graphics;
StartupNotify=true
MimeType=application/x-fritzing-fz;application/x-fritzing-fzz;application/x-fritzing-fzp;application/x-fritzing-fzpz;application/x-fritzing-fzb;application/x-fritzing-fzbz;application/x-fritzing-fzm;
