[Desktop Entry]
Name=Bed - Binary Editor
Name[nl]=Bed - Binaire Editor
GenericName=Binary Editor
GenericName[nl]=Binaire Editor
Comment=Adjustable dataformat: ascii,integer,unsigned,float,struct
Comment[nl]=Instelbaar datatype: ascii,integer,unsigned,float,struct
Exec=bed %U
Terminal=true
Type=Application
Categories=Development;
StartupNotify=true
