[Desktop Entry]
Type=Application
Exec=setBfreeUI
Name=setBfree
Comment=A DSP Tonewheel Organ emulator
Icon=setBfree
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;
