[Desktop Entry]
Type=Application
Exec=x42-whirl
Name=x42-whirl
Comment=Leslie speaker emulation as JACK client
Icon=x42-whirl
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;
