[Desktop Entry]
Encoding=UTF-8
Name=Iscan
GenericName=Image Scan! for Linux
Exec=iscan
Terminal=false
Type=Application
Categories=Application;Graphics;
Icon=scanner
StartupNotify=false
