[Desktop Entry]
Encoding=UTF-8
Name=Scid 
GenericName=A Free Chess Database App
Exec=scid
Icon=scid
Type=Application
Categories=Application;Game;BoardGame;
