[Desktop Entry]
Version=1.0
Name=searchmonkey
Comment=Find text files quickly using regular expressions
Exec=searchmonkey
Icon=searchmonkey
StartupNotify=true
Terminal=false
Type=Application
Categories=System
