[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/nightingale
Icon=/usr/share/pixmaps/Nightingale.xpm
Type=Application
Categories=Application;AudioVideo;
Name=Nightingale
GenericName=Media Player
Comment=Nightingale Media Player
MimeType=text/html
X-KDE-StartupNotify=true
Name[en_US]=Nightingale
