[Desktop Entry]
Version=1.0
Exec=secpanel
TryExec=secpanel
Icon=terminal
Terminal=false
Name=Secpanel
GenericName=SSH GUI
Categories=Network;
Type=Application
StartupNotify=false
