[Desktop Entry]
Type=Application
Name=Doom Retro
GenericName=Classic refined DOOM source port
Icon=doomretro
Exec=/usr/games/doomretro %F
Terminal=false
Categories=Game;ActionGame;
