[Desktop Entry]
Name=WebStorm
GenericName=Text Editor
Comment=Powerful Html+JavaScript IDE
Exec=webstorm
Icon=webstorm
Type=Application
Terminal=false
Categories=Development;TextEditor;
