[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=false
Name=gtkpod
Comment=Manage songs on your Apple iPod
Comment[de]=Verwalte Musik auf deinem Apple iPod
Exec=gtkpod
Icon=/usr/share/gtkpod/pixmaps/gtkpod-icon-32x32.png
Categories=AudioVideo;
