[Desktop Entry]
Version=1.0
Name=SmartSVN
Keywords=svn;subversion
GenericName=SVN Client
Type=Application
Categories=Development;RevisionControl
Terminal=false
StartupNotify=true
Exec="/usr/share/smartsvn/bin/smartsvn.sh" %f
MimeType=x-directory/normal
Icon=smartsvn
X-Ayatana-Desktop-Shortcuts=NewWindow;RepositoryBrowser

[NewWindow Shortcut Group]
Name=Open a New Window
Exec="/usr/share/smartsvn/bin/smartsvn.sh"
TargetEnvironment=Unity

[RepositoryBrowser Shortcut Group]
Name=Open the Repository Browser
Exec="/usr/share/smartsvn/bin/smartsvn.sh" --repository-browser
TargetEnvironment=Unity
