[Desktop Entry]
Exec=/usr/games/megamario
Icon=megamario
Type=Application
Categories=Game;ArcadeGame;
Name=MegaMario
GenericName=Mario Bros Clone
GenericName[fr]=Clone de Mario Bros
StartupNotify=false
