[Desktop Entry]
Name=GSpiceUI
Comment=A GUI to free SPICE circuit simulators
Type=Application
Categories=Science
Exec=gspiceui
Icon=gspiceui
StartupNotify=false
