[Desktop Entry]
VERSION=1.0
Type=Application
Exec=android-studio
Name=Android Studio IDE
GenericName=Android Studio IDE
Icon=android-studio
StartupNotifiy=true
Categories=Development;IDE;Qt;KDE;GTK;GNOME;
