[Desktop Entry]
Name= Xpilot NG
Name[he]= Xpilot NG
Comment= XPilot NG is a multi-player 2D SpaceWar Game
Exec=xpilot-ng-sdl
Icon=xpilot-ng
Terminal=false
Type=Application
Categories=Game;SpaceWar;
GenericName=Game
