[Desktop Entry]
Name=pcgen
Name[af]=pcgen
Name[as]=pcgen
Name[ast]=pcgen
Name[be]=pcgen
Name[be@latin]=pcgen
Name[bg]=pcgen
Name[bn_IN]=pcgen
Name[ca]=pcgen
Name[ca@valencia]=pcgen
Name[cs]=pcgen
Name[csb]=pcgen
Name[da]=pcgen
Name[de]=pcgen
Name[el]=pcgen
Name[en_GB]=pcgen
Name[eo]=pcgen
Name[es]=pcgen
Name[et]=pcgen
Name[eu]=pcgen
Name[fi]=pcgen
Name[fr]=pcgen
Name[ga]=pcgen
Name[gl]=pcgen
Name[he]=pcgen
Name[hr]=pcgen
Name[hsb]=pcgen
Name[hu]=pcgen
Name[ia]=pcgen
Name[id]=pcgen
Name[is]=pcgen
Name[it]=pcgen
Name[ja]=pcgen
Name[ka]=pcgen
Name[kk]=pcgen
Name[km]=pcgen
Name[ko]=pcgen
Name[ku]=pcgen
Name[lt]=pcgen
Name[lv]=pcgen
Name[ms]=pcgen
Name[nb]=pcgen
Name[nds]=pcgen
Name[nl]=pcgen
Name[nn]=pcgen
Name[oc]=pcgen
Name[pl]=pcgen
Name[pt]=pcgen
Name[pt_BR]=pcgen
Name[ro]=pcgen
Name[ru]=pcgen
Name[se]=pcgen
Name[sk]=pcgen
Name[sl]=pcgen
Name[sr@ijekavianlatin]=pcgen
Name[sr@latin]=pcgen
Name[sv]=pcgen
Name[tg]=pcgen
Name[tr]=pcgen
Name[ug]=pcgen
Name[uk]=pcgen
Name[uz]=pcgen
Name[uz@cyrillic]=pcgen
Name[vi]=pcgen
Name[wa]=pcgen
Name[x-test]=xxpcgenxx
Name[zh_CN]=pcgen
Name[zh_TW]=pcgen
Exec=/opt/pcgen/pcgen
Icon=/opt/pcgen/system/icons/pcgen_128x128.png
Type=Application
Categories=Java;Game;BoardGame;
GenericName=PCGen
GenericName[x-test]=xxPCGenxx
Terminal=false
