[Desktop Entry]
Encoding=UTF-8
Name=Mupen64Plus
GenericName=N64 emulator
Exec=mupen64plus
Terminal=false
Type=Application
Categories=Application;Game;Emulator;
Icon=mupen64plus.xpm
StartupNotify=false
