[Desktop Entry]
Name=Ettercap GTK
Icon=/usr/share/ettercap/ettercap.png
Exec=/usr/bin/ettercap --gtk
Terminal=false
Type=Application
Categories=Network;System;Security;GTK;
