[Desktop Entry]
Name=Linux DC++
Comment=DC++ Linux client
Exec=linuxdcpp
Icon=linuxdcpp
Terminal=false
Type=Application
Categories=Network;
GenericName=P2P client
GenericName[sv]=P2P klient
Comment[sv]=DC++ Linux klient
