[Desktop Entry]
Name=qzdl
GenericName=Launcher for Doom Engines
Type=Application
Comment=A Qt launcher for various Doom engines like Chocolate Doom.
Exec=zdl
Icon=zdl3
Terminal=false
Categories=Game
