[Desktop Entry]
Name=DDD Debugger
Comment=Data Display Debugger
Exec=ddd
Icon=/usr/share/pixmaps/ddd.png
Type=Application
Categories=Application;Development;
Encoding=UTF-8"

