[Desktop Entry]
Name=kForth-32 (2.x)
Comment=kForth-32 (2.x) is a 32-bit Forth System for x86
Exec=/usr/bin/kforth32
Icon=/usr/share/pixmaps/kforth.xpm
Terminal=true
Type=Application
Categories=Development;

