[Desktop Entry]
Version=1.0
Exec=squirrel-sql
TryExec=squirrel-sql
Icon=squirrel-sql
Terminal=false
Name=SQuirreL SQL
GenericName=SQL Client
Comment=A graphical SQL client
Categories=Development;
Type=Application
StartupNotify=false
