[Desktop Entry]
Type=Application
Name=ZDoom
GenericName=Enhanced Doom Engine
Icon=zdoom
Exec=/usr/games/zdoom %F
Terminal=false
Categories=Game;ActionGame;
