[Desktop Entry]
Type=Application
Name=QZDoom
GenericName=TrueColor Enhanced Doom Engine
Icon=qzdoom
Exec=/usr/games/qzdoom %F
Terminal=false
Categories=Game;ActionGame;
