#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Seven Kingdoms (7kaa)
GenericName=Game
Comment=Seven Kingdoms: Ancient Adversaries
Type=Application
Exec=7kaa
Icon=7kaa
Categories=Game;StrategyGame;
