[Desktop Entry]
Version=2.15.7
Name=Seven Kingdoms: Ancient Adversaries
Exec=7kaa
Icon=7kaa
Terminal=false
MimeType=application/x-pyromod+zip;
Type=Application
GenericName=7kaa
Categories=Game;StrategyGame;
Comment=A real-time strategy game of Ancient Adversaries
Comment[de]=Ein Echtzeit-Strategiespiel von Ancient Adversaries
Comment[es]=Un juego de estrategia en tiempo real de Antiguos Adversarios
Comment[fr]=Un jeu de stratégie en temps réel d'adversaires anciens
Comment[it]=Un gioco di strategia in tempo reale di Antichi Avversari
Comment[nl]=Een real-time strategiespel van Ancient Adversaries
Comment[pl]=Gra strategiczna w czasie rzeczywistym o starożytnych przeciwnikach
Comment[pt]=Um jogo de estratégia em tempo real de Adversários Antigos
Comment[pt_BR]=Um jogo de estratégia em tempo real de Adversários Antigos
Comment[ru]=Стратегическая игра в реальном времени Ancient Adversaries
Keywords=RTS;Real-Time Strategy;Economic Simulation Game;
