[Desktop Entry]
Name=Zoom
Comment=Zoom Video Conference
Exec=/usr/bin/zoom-linux %U
Icon=zoom-linux
Terminal=false
Type=Application
Categories=Network;
StartupWMClass=zoom
MimeType=x-scheme-handler/zoommtg;application/x-zoom;
X-KDE-Protocols=zoommtg
Name[en_US]=Zoom
