[Desktop Entry]
Type=Application
Exec=eclipse-platform
Name=Eclipse IDE
GenericName=Eclipse IDE
Icon=eclipse-platform
StartupNotify=true
Categories=Development;
