[Desktop Entry]
Name= SumWars
Name[he]= SumWars
Comment= A multi-player, 3D Action Role-Playing Game
Exec=sumwars
Icon=sumwars
Terminal=false
Type=Application
Categories=Game;RolePlaying;
GenericName=Game
