[Desktop Entry]
Type=Application
Name=Wolfenstein 3D (Demo)
Icon=wolf4sdl
TryExec=wolf4sdl-wolf3d-demo
Exec=wolf4sdl-wolf3d-demo --windowed-mouse --res 960 720
Terminal=false
Categories=Game;ActionGame;
