[Desktop Entry]
Type=Application
Name=Wolf3D Spear of Destiny (Demo)
Icon=wolf4sdl
TryExec=wolf4sdl-spear-demo
Exec=wolf4sdl-spear-demo --windowed-mouse --res 960 720
Terminal=false
Categories=Game;ActionGame;
