[Desktop Entry]
Type=Application
Name=Wolf3D Spear of Destiny (Full Version)
Icon=wolf4sdl
TryExec=wolf4sdl-spear-full
Exec=wolf4sdl-spear-full --windowed-mouse --res 960 720
Terminal=false
Categories=Game;ActionGame;
