[Desktop Entry]
Version=1.0
Type=Application
Name=XTRS
Comment=TRS-80 Model I/III/4/4P Emulator
Categories=System;Emulator;
Exec=xtrs
Icon=xtrs
Terminal=false
StartupNotify=false
