[Desktop Entry]
Name=ASeqView
Comment=ALSA MIDI Event Viewer
Type=Application
Exec=aseqview
Icon=Radio
Terminal=false
Categories=AudioVideo;Audio;Music
