[Desktop Entry]
Version=1.0
Name=TI-99 Sim
GenericName=TI-99/4A Emulator
Type=Application
Exec=ti99sim-sdl
Icon=ti99sim
Terminal=false
StartupNotify=false
Categories=Emulator;System;
