[Desktop Entry]
Name=Graphical Disk Map
Name[bg]=Графична карта на диска
Name[de]=Plattenspeicher anzeigen
Name[dk]=Grafisk Kortlægning af Disken
Name[es]=Graphical Disk Map
Name[fr]=Représentation graphique du disque
Name[he]=מפת דיסק גרפית
Name[hr]=Graficka disk mapa
Name[it]=Mappa grafica dischi
Name[nb]=Grafisk visning
Name[no]=Grafisk visning
Name[ru]=Графическая карта диска
Name[sv]=Grafisk diskkarta
Name[tr]=Grafik Disk Haritasi
Comment=Display disk space using tree maps
Comment[bg]=Показвай свободното пространство в дъвоиден стил
Comment[de]=Plattenspeicher graphisch darstellen
Comment[dk]=Vis disk plads som træ
Comment[es]=Mostrar la utilización de disco usando Treemaps
Comment[fr]=Afficher l'espace disque disponible à l'aide d'une structure arborescente (Treemaps).
Comment[he]=הראה מקום בדיסק בעזרת מפות עץ
Comment[hr]=Prikazi diskovni prostor koristeci drvo mapa
Comment[it]=Visualizza i file su disco utilizzando gli alberi
Comment[nb]=Vis diskbruk i trestruktur
Comment[no]=Vis diskbruk i trestruktur
Comment[ru]=Показать место на диске пользующеся древовидными схемами
Comment[sv]=Visa diskutrymme med trädkartor
Comment[tr]=Disk alanını agac haritalarini kullanarak goster
Exec=gdmap
Icon=/usr/share/pixmaps/gdmap_icon.png
Terminal=false
Type=Application
Categories=Filesystem;Utility;GTK
