[Desktop Entry]
Name= CPSokoban
Name[he]= CPSokoban
Comment=CPSokoban is yet another version of the game Sokoban
Exec=cpsokoban
Icon=cpsokoban
Terminal=false
Type=Application
Categories=Game;Puzzle;
GenericName=Game
