[Desktop Entry]
Name=LinPSK
Name[en_US]=LinPSK
Comment=PSK31 for Linux
Comment[en_US]=PSK31 for Linux
Encoding=UTF-8
Exec=linpsk
Icon=linpsk
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Categories=Application;HamRadio;
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
