[Desktop Entry]
Categories=Graphics;
Comment=WYSIWYG Postscript annotator
Terminal=false
MimeType=application/postscript;
Name=flpsed
GenericName=PDF/PS Editor
Exec=flpsed
Icon=
Type=Application
