[Desktop Entry]
Name=Shrew Soft VPN Access Manager Application
Comment=Application to manage remote site configurations
Exec=/usr/bin/ikea
Icon=ikea
Terminal=false
Type=Application
Categories=Network
