[Desktop Entry]
Name=Marathon 2
Exec=marathon2
Icon=alephone
Type=Application
Comment=Marathon 2: Durandal (first-person shooter game)
Categories=Game;ActionGame;
