[Desktop Entry]
Name=Space Invaders
Comment=A tribute to the original arcade from 1978
Exec=space-invaders
Icon=space-invaders
Terminal=false
Type=Application
Categories=Game;
