[Desktop Entry]
Version=1.0
Name=Kurso de Esperanto
GenericName=Learn Esperanto
Type=Application
Exec=kurso
Icon=kurso
Terminal=false
Categories=Education;Languages;KDE;Qt;
