[Desktop Entry]
Name=Bitfighter
Name[he]= Bitfighter
Comment=Action
Exec=/usr/share/games/bitfighter-019a/exe/./bitfighter
Icon=bitfighter
Terminal=false
Type=Application
Categories=Game;Action
GenericName=Game
