[Desktop Entry]
Name=Riot.im
Name[zh_CN]=Riot.im 加密聊天室
Name[zh_HK]=Riot.im 加密聊天室
Name[zh_TW]=Riot.im 加密聊天室
Comment=A feature-rich client for Matrix.org
Comment[zh_CN]=一个基于 Matrix.org （邦联化）的端对端加密群聊工具
Comment[zh_HK]=一个基于 Matrix.org （邦联化）的端对端加密群聊工具
Comment[zh_TW]=一个基于 Matrix.org （邦联化）的端对端加密群聊工具
Exec=/usr/bin/riot-web
Terminal=false
Type=Application
Icon=riot-web
StartupWMClass=riot
Categories=Network;X-Antigfw
