[Desktop Entry]
Icon=verbiste
Name=Verbiste
Name[fr]=Verbiste
Name[en_GB]=Verbiste
GenericName=French conjugation system
GenericName[fr]=système de conjugaison française
GenericName[en_GB]=French conjugation system
Comment=
Comment[fr]=
Comment[en_GB]=
Exec=verbiste-gtk %u
Terminal=false
Type=Application
Categories=Education;Languages;Office;
