[Desktop Entry]
Name=IceBreaker
Type=Application
Comment=addictive action-puzzle game involving bouncing penguins
Exec=/usr/games/icebreaker
Icon=icebreaker
Terminal=false
Keywords=puzzle;game;penguins;ice;
Categories=Game;ArcadeGame;
