[Desktop Entry]
Name=Transcribe!
GenericName=Music Transcriber
Type=Application
Icon=/usr/share/pixmaps/xsc128x128.png
Exec=transcribe
Terminal=false
Categories=AudioVideo;X-Sound;Audio;
