[Desktop Entry]
Type=Application
Name=ovcc
Comment=TRS-80 CoCo III Emulator
Exec=/usr/games/ovcc %F
Icon=ovcc
Terminal=false
Categories=Game;Emulator;
