[Desktop Entry]
Version=1.0
Name=Zoom
GenericName=Game Engine
Comment=Player for Interactive Fiction Games
Icon=zoom
Exec=/usr/games/zoom
Terminal=false
Type=Application
Categories=Game;AdventureGame;
