[Desktop Entry]
Name=ebook2cwgui
GenericName=ebook to Morse Converter
Comment=Converts ebooks to Morse MP3s/OGGs
Exec=ebook2cwgui
Icon=ebook2cw
Terminal=false
Type=Application
Categories=Audio;HamRadio;AudioVideo;
