[Desktop Entry]
Name=Rider
GenericName=Text Editor
Comment=Powerful C# and .NET IDE
Exec=rider
Icon=rider
Type=Application
Terminal=false
Categories=Development;TextEditor;
