[Desktop Entry]
Name=Simplenote
Comment=Simplenote for Linux
Exec="/opt/simplenote/simplenote" %U
Terminal=false
Type=Application
Icon=simplenote
StartupNotify=true
Categories=Utility;TextEditor;
