[Desktop Entry]
Name=Python spreadsheet (Spreadsheet)
Name[he]= Pyspread
Comment=Python spreadsheet
Exec=pyspread
Icon=pyspread
Terminal=false
Type=Application
Categories=Office;Spreadsheet
GenericName=Spreadsheet
