[Desktop Entry]
Exec=sh -c "COPASIDIR=/usr /usr/bin/CopasiUI"
Icon=/usr/share/pixmaps/copasi.xpm
Type=Application
Name=COPASI
GenericName=Biochemical simulation
StartupNotify=true
Categories=Science;
MimeType=application/x-copasi;

