[Desktop Entry]
Version=1.0
Type=Application
Name=Hatari UI
GenericName=Atari ST emulator
Comment=Run old Atari ST/STE/TT/Falcon software
Exec=hatariui %f
Icon=hatari
MimeType=application/x-st-disk-image;application/x-st-executable;application/vnd.msa-disk-image;application/vnd.fastcopy-disk-image;application/x-stx-disk-image;
Categories=Game;Emulator;
Actions=Boot;

[Desktop Action Boot]
Name=Boot
Exec=hatariui %f
