[Desktop Entry]
Version=1.0
Type=Application
Name=Hatari UI
Exec=hatariui %f
Icon=hatari-icon
Categories=Game;Emulator;
Actions=Boot;
MimeType=application/x-atari-st-disk-image;application/x-atari-st-executable;

[Desktop Action Boot]
Name=Boot
Exec=hatariui %f
