[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=CuePlayer
GenericName=Media Player
Comment=Lightweight media player and transcoder
Icon=cueplayer
Exec=cueplayer
Categories=AudioVideo;Audio;Video;Player;Qt;
