[Desktop Entry]
Name=Syncthingtray
GenericName=Syncthing Tray
Comment=Tray application for Syncthing
Exec=syncthingtray
Icon=syncthingtray
Terminal=false
Type=Application
Categories=Network;