[Desktop Entry]
Type=Application
Exec=robomongo
Name=Robomongo
GenericName=The IDE for mongodb working.
GenericName[de]=Die IDE der
Icon=robomongo.png
Terminal=false
Categories=Development;IDE;mongodb;
