#!/bin/sh
#
# /etc/rc.d/slim: start/stop slim
#

case $1 in
start)
	/usr/bin/slim -d
	;;
stop)
	killall /usr/bin/slim
	rm -f /var/run/slim.lock
	;;
restart)
	$0 stop
	sleep 2
	$0 start
	;;
*)
	echo "usage: $0 [start|stop|restart]"
	;;
esac

# End of file
