#!/bin/sh
#
# This xinitrc is designed to be used when logging in with SLiM. Sessions
# listed here should be the same ones that are in /etc/slim.conf. If you
# wish to add a session, add a section below, and add it to the sessions
# line in /etc/slim.conf
# 
# by Martin Lefebvre (Modified by SlackBuilds.org project)

case $1 in
xfce4)
	exec startxfce4
	;;
icewm)
	exec icewm-session
	;;
wmaker)
	exec wmaker
	;;
blackbox)
	exec blackbox
	;;
*)
	exec twm
	;;
esac
