[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/songbird
Icon=/usr/share/pixmaps/Songbird.xpm
Type=Application
Categories=Application;AudioVideo;
Name=Songbird
GenericName=Media Player
Comment=Songbird Media Player
MimeType=text/html
X-KDE-StartupNotify=true


