[Desktop Entry]
Version=1.0
Exec=equalx
Terminal=false
Type=Application
StartupNotify=false
MimeType=image/png;image/svg+xml;image/jpg;
Icon=/usr/share/pixmaps/equalx-64x64.png
Categories=Qt;KDE;Math;Science;
X-DBUS-StartupType=Unique
Name=EqualX
Name[ro]=EgalX
GenericName=LaTeX Equation Editor
GenericName[ro]=Editor LaTeX de ecuații 
Comment=Create equations in LaTeX
Comment[ro]=Creează ecuații folosind LaTeX
