[Desktop Entry]
Name=UrbanTerror
Exec=urbanterror
Icon=q3urt
Comment=Online First Person Shooter
Terminal=false
Type=Application
Categories=Game;ActionGame;
