[Desktop Entry]
Comment=Web Browser
Name=Waterfox
GenericName=Waterfox
Exec=/opt/waterfox/waterfox
Categories=Network;X-XFCE;X-Xfce-Toplevel;
Icon=/usr/share/pixmaps/waterfox.png
MimeType=
StartupNotify=false
Terminal=false
Type=Application
