[Desktop Entry]
Type=Application
Categories=Game;ActionGame;
Name=Pushover
Comment=Domino-flipping game
Exec=/usr/games/pushover
Icon=pushover
Terminal=false
