[Desktop Entry]
Version=1.0
Type=Application
Name=BRL-CAD MGED
Comment=Constructive Solid Geometry modeling system
Categories=Graphics;
Exec=xterm -iconic -e /opt/brlcad/bin/mged
Icon=brlcad
StartupNotify=false

