[Desktop Entry]
Name=Vuze (Formerly Azureus)
Comment=Bittorrent Client
Exec=/usr/bin/vuze
Icon=vuze
Terminal=false
Type=Application
Categories=Network;
