[Desktop Entry]
Version=1.0
Name=tkdvd
GenericName=Disc burning program
Comment=GUI to dvd+rw-tools and cdrecord
Type=Application
Exec=TkDVD.sh
Icon=tkdvd
Categories=Utility;
