[Desktop Entry]
Name=Cosmic Assault
Comment=Space Shooting Game
Exec=cosmic_assault
Icon=cosmic_assault
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
