[Desktop Entry]
Name=Spotify
GenericName=Music Player
Comment=Listen to music using Spotify
Icon=/opt/spotify/spotify-client/Icons/spotify-linux-128.png
Exec=spotify %U
TryExec=spotify
Terminal=false
Type=Application
Categories=Qt;Audio;Player;AudioVideo;
MimeType=x-scheme-handler/spotify;
