[Desktop Entry]
Version=1.0
Name=Decoder Pro
Comment=Java Model Railroad Interface
Icon=jmri
Exec=DecoderPro
TryExec=/usr/bin/DecoderPro
Terminal=false
StartupNotify=false
Type=Application
Categories=Other;Java
