[Desktop Entry]
Version=1.0
Name=Dispatcher Pro
Comment=Java Model Railroad Interface
Icon=jmri
Exec=DispatcherPro
TryExec=/usr/bin/DispatcherPro
Terminal=false
StartupNotify=false
Type=Application
Categories=Other;Java
