[Desktop Entry]
Version=1.0
Name=Sound Pro
Comment=Java Model Railroad Interface
Icon=jmri
Exec=SoundPro
TryExec=/usr/bin/SoundPro
Terminal=false
StartupNotify=false
Type=Application
Categories=Other;Java
