[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Icon=kitscenarist
Categories=Office;
Exec=kitscenarist %f
MimeType=application/x-kit-scenarist-project;
Name=KIT Scenarist
GenericName=Screenwriting Software
Name[ru]=КИТ Сценарист
GenericName[ru]=Программа для написания сценариев
