[Desktop Entry]
Type=Application
Version=2.1
Encoding=UTF-8
Name=Nexuiz (SDL)
Comment=Free first-person shooter game
Icon=/usr/share/pixmaps/nexuiz.png
Exec=/usr/games/nexuiz-sdl
Terminal=false
StartupNotify=false
Categories=Game;
