# Add the following lines to your root's crontab.
# Make sure the paths to the rsnapshot_* scripts
# are pointing to the correct location

0 */4 * * *     /etc/rsnapshot_hourly
50 2 * * *      /etc/rsnapshot_daily
40 2 * * 1      /etc/rsnapshot_weekly
30 2 1 * *      /etc/rsnapshot_monthly
