[Desktop Entry]
Type=Application
Name=SweetHome3D
GenericName=Free interior design
Comment=Interior design furniture on a house 2D plan, with a 3D preview
Comment[pt_BR]=Construa plantas de casas em 2D e vizualize em 3D
Icon=SweetHome3D
Exec=SweetHome3D
Terminal=false
Categories=Graphics;
StartupNotify=true
