[Desktop Entry]
Name=MasterPDFEditor4
Comment=Edit PDF files
Exec=MasterPDFEditor4
Icon=MasterPDFEditor4
StartupNotify=false
Type=Application
Categories=Office
