[Desktop Entry]
Name=FreedroidRPG
Comment=FreedroidRPG - A Diablo/Freedroid fusion
Exec=/usr/bin/freedroidRPG
Icon=/usr/share/freedroidrpg/graphics/paraicon.bmp
Terminal=false
Type=Application
Categories=Game;
