[Desktop Entry]
Version=1.0
Name=TT
Type=Application
Comment=Tetris for terminals
Terminal=true
Exec=tt
Icon=tt
Categories=ConsoleOnly;Game;
GenericName=Tetris for terminals
Encoding=UTF-8
