[Desktop Entry]
Name=Scid vs. PC
Comment=Chess Game
Exec=/usr/bin/scid
Icon=/usr/share/icons/hicolor/32x32/apps/scid.ico
Terminal=false
Type=Application
Categories=Qt;KDE;Game;

