[Desktop Entry]
Name=EightyOne
GenericName=EightyOne
Comment=Emulator for the range of ZX home computers
Exec=wine /opt/EightyOne/EightyOne.exe
Icon=/usr/share/pixmaps/eightyone.png
Terminal=false
Type=Application
Categories=AudioVideo;
StartupNotify=false
