[Desktop Entry]
Name=Envision
Comment=Graphic design tool for Atari 8-bit
Exec=envision
Icon=envision
Type=Application
Categories=Graphics;
Terminal=false
Version=1.0
