[Desktop Entry]
Name=XTetris
GenericName=Puzzle Game
Exec=/usr/games/xtetris
Icon=xtetris
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
Keywords=game;arcade;
