[Desktop Entry]
Version=1.0
Name=Signal Desktop
Comment=Signal Private Messenger for the Desktop
Exec=/usr/bin/signal
StartupWMClass=Signal-Desktop
Icon=Signal-Desktop
Terminal=false
Type=Application
Categories=Network;
