[Desktop Entry]
Encoding=UTF-8
Exec=josm
Icon=/usr/share/josm/josm_128.xpm
Name=josm
GenericName=Openstreetmap editor
GenericName[el]=Επεξεργαστής openstreetmap
StartupNotify=true
Type=Application
Categories=Education;Geography
