[Desktop Entry]
Name=STM32CubeIDE
GenericName=STM32CubeIDE
Exec=/opt/stm32cubeide/stm32cubeide %F
Icon=stm32cubeide
Path=/opt/stm32cubeide
Terminal=false
StartupNotify=true
Type=Application
Categories=Development;IDE
