[Desktop Entry]
Name=zyGrib
GenericName=GRIB file viewer
Comment=GRIB file viewer
Exec=zyGrib
Icon=zyGrib
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;
