[Desktop Entry]
Name=PolyPuzzle
Comment=Geometric puzzle game
Exec=polypuzzle
Icon=polypuzzle
Type=Application
Terminal=false
Categories=Game;LogicGame;
