[Desktop Entry]
Name=Sauerbraten Client
Comment=A networked, fast-paced 3D first-person shooter game
Comment[de]=Ein schnelles netzwerkfähiges 3D Ego-Shooter Spiel
Exec=sauerbraten
Icon=sauerbraten
Terminal=false
Type=Application
StartupNotify=false
Categories=Game;ArcadeGame;
