[Desktop Entry]
Name=TapIIR (ALSA)
Exec=tapiir_alsa
Type=Application
Icon=tapiir
GenericName=TapIIR Multi-Tap Delay (ALSA)
Categories=AudioVideo;Audio;
