[Desktop Entry]
Name=TapIIR (JACK)
Exec=tapiir_jack
Type=Application
Icon=tapiir
GenericName=TapIIR Multi-Tap Delay (JACK)
Categories=AudioVideo;Audio;
