[Desktop Entry]
Name=SDLMESS
Comment=SDL port of MESS(tm) emulator
Exec=/usr/games/mess
Icon=mess.xpm
Terminal=false
Type=Application
Categories=Application;Game;Tools;
