[Desktop Entry]
Name=Marathon Infinity
Exec=marathon-infinity
Icon=alephone
Type=Application
Comment=Marathon Infinity (first-person shooter game)
Categories=Game;ActionGame;
