[Desktop Entry]
Name=whaw
GenericName=Window Tiling Tool
Exec=/usr/bin/whaw
Type=Application
Categories=Utility;X-KDE-Utilities-Desktop;
X-KDE-StartupNotify=false
