[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=dosbox
Comment=DOS Emulator
GenericName=dosbox
Exec=dosbox
Icon=/usr/share/pixmaps/dosbox.ico
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
