[Desktop Entry]
Name=Haxima
GenericName=Role Playing Game
Comment=An old school role playing game
Exec=/usr/games/haxima.sh
Icon=/usr/share/pixmaps/haxima.png
Terminal=false
Type=Application
Categories=Game;
Version=1.0
