[Desktop Entry]
Name=bsky-desktop
Exec=/usr/bin/bsky-desktop
Terminal=false
Type=Application
Icon=bsky-desktop
StartupWMClass=bskyDesktop
Comment=A desktop app of bsky.app
Categories=Network;
