[Desktop Entry]
Name=AjaXplorer Sync
Comment=AjaXplorer Sync Client
TryExec=ajaxplorer-sync
Exec=ajaxplorer-sync
StartupNotify=true
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/ajaxplorer-sync_32x32.png
Categories=Network;
