[Desktop Entry]
Name=Openttd
GenericName=Game
Comment="An open source clone of Transport Tycoon Deluxe"
Exec=/usr/games/openttd
Icon=/usr/share/applications/openttd.64.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Game;Simulation;StrategyGame
