[Desktop Entry]
Name=Epson Printer Utility
Comment=monitor ink levels, print nozzle check pattern, clean print head
Exec=epson-printer-utility
Terminal=false
Type=Application
Icon=epson-printer-utility
Categories=System;Printing;Settings
