[Desktop Entry]
Version=1.0
Name=Zita-Rev1
GenericName=standalone JACK reverb
Comment=amazing reverb by kokkinizita - more bang per byte
GenericName[fr]=réverbération JACK autonome
Comment[fr]=réverbération extraordinaire par kokkinizita - davantage de boum par bit
Keywords=audio;sound;jackd;reverb
Exec=zita-rev1
Icon=zita-rev1
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
