[Desktop Entry]
Name=last.fm
GenericName=last.fm Player
Comment=Listen to last.fm streams
Exec=last.fm
Icon=/usr/lib/last.fm/data/icons/as.png
Categories=Application;Qt;AudioVideo;Player;
Terminal=false
Type=Application
Encoding=UTF-8
