[Desktop Entry]
Name=Unvanquished
Name[he]= Unvanquished
Comment=FPS/RTS Game - Aliens vs. Humans
Exec=/usr/share/games/unvanquished-0.25.0/daemon
Icon=unvanquished
Terminal=false
Type=Application
Categories=Game;ActionGame;StrategyGame;
GenericName=Game
