[Desktop Entry]
Version=1.0
Encoding=UTF-8
Terminal=false
Icon=/usr/share/pixmaps/xdc.xpm
Type=Application
InitialPreference=2
Categories=Application;Graphics;
Exec=xdrawchem
Name=XDrawChem
Comment=Draw Chemical Molecular Structures
