[Desktop Entry]
Name=Qt Creator IDE
GenericName=IDE for Qt Developers
Comment=Qt-Creator is a cross-platform IDE tailored to the needs of Qt developers.
Exec=qtcreator
Icon=QtProject-qtcreator
Categories=Development;IDE;GUIDesigner;Qt;Qt-Creator;
Version=1.0
StartupNotify=true
Type=Application
Terminal=false
MimeType=application/x-qt-creator;
