[Desktop Entry]
Name=Qt Creator IDE
GenericName=IDE for Qt Developers
Comment=Qt-Creator is a cross-platform IDE tailored to the needs of Qt developers.
Exec=qtcreator
Icon=QtProject-qtcreator
Categories=Development;IDE;GUIDesigner;Qt;
Version=1.0
StartupNotify=true
Type=Application
Terminal=false
MimeType=application/x-qt-creator;application/x-pyqtc;application/x-uiqml;application/x-qmlproject;application/x-qbs;application/x-qml;application/x-designer;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-python;text/x-moc;text/x-cmake;text/x-qml;text/x-c;text/x-c++;
