[Desktop Entry]
Encoding=UTF-8
Name=Qt Creator IDE
Exec=qtcreator
Icon=/usr/share/pixmaps/qtcreator_logo_48.png
Categories=Development;IDE
Version=1.0
StartupNotify=true
Type=Application
Terminal=0

