[Desktop Entry]
Version=1.0
Name=Barry Backup
Comment=Make backups of your BlackBerry databases
Exec=barrybackup
Icon=barry
Terminal=false
Type=Application
StartupNotify=true
Categories=Office;PDA;
