[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Firestorm Opensim Viewer
GenericName=Second Life Opensim Client
Icon=firestorm-opensim.png
Exec=firestorm-opensim
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame 
