[Desktop Entry]
Name= BomberClone
Name[he]= BomberClone
Comment= Clone of the game AtomicBomberMan
Exec=bomberclone
Icon=bomberclone
Terminal=false
Type=Application
Categories=Game;Action;
GenericName=Game
