[Desktop Entry]
Version=1.0
Name=FujiNet-PC
GenericName=Atari 8-bit Peripheral Emulator
Icon=fujinet-pc
Exec=/usr/bin/fujinet-pc
Terminal=true
Type=Application
Categories=Network;
