[Desktop Entry]
Name=Penguin-Command
Type=Application
Comment=Missile Attack game
Exec=penguin-command
Icon=penguin-command
Terminal=false
Categories=Game;ArcadeGame;
