[Desktop Entry]
Name=Task Coach
Comment= Your friendly task manager
Exec=taskcoach.py
Icon=taskcoach
Terminal=false
Type=Application
Categories=Office;
