#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=KBGOffice
Name[bg]=КБГОфис
GenericName=BG Office Assistant
GenericName[bg]=БГ Офис помощник
TryExec=kbgoffice
Exec=kbgoffice %F
Icon=kbgoffice_icon
Categories=Office;TextTools;KDE;Qt;Utility;Dictionary;
Terminal=false
