[Desktop Entry]
Name=plug
Comment=Fender Mustang Amps Controller
Exec=/usr/bin/plug
Icon=/usr/share/pixmaps/plug.png
Terminal=false
Type=Application
Categories=System;

