[Desktop Entry]
Exec=jUploadr
Icon=juploadr
Name=Java (Flickr) Uploader
GenericName=Java (Flickr) Uploader
StartupNotify=true
Type=Application
Categories=Network;Graphics;
