[Desktop Entry]
Name=Atom
GenericName=Editor
Comment=Atom Editor
Icon=atom-amd64
Exec=atom
TryExec=atom
Terminal=false
Type=Application
Categories=Development;
