[Desktop Entry]
Name=HakuNeko Desktop
Comment=Downloader
Exec=/usr/lib64/hakuneko-desktop/hakuneko
Icon=hakuneko-desktop
Terminal=false
Type=Application
Categories=Network;FileTransfer;
GenericName=Manga Downloader
