[Desktop Entry]
Categories=Application;Game;ArcadeGame
Exec=rocksndiamonds
Icon=rocksndiamonds
Name=Rocks'n'Diamonds
StartupNotify=false
Type=Application
