[Desktop Entry]
Type=Application
Name=frogatto
Comment=2D platform game starring a quixotic frog
Categories=Game;
Exec=/usr/bin/frogatto
Icon=/opt/frogatto/modules/frogatto/images/window-icon.png
