[Desktop Entry]
Version=1.0
Name=Firewall Configuration
Name[zh_TW]=防火牆設定
Name[vi]=Cấu hình tường lửa
Name[uk]=Конфігурація брандмауера
Name[tr]=Güvenlik Duvarı Yapılandırması
Name[sv]=Brandväggskonfiguration
Name[sr]=Подешавање мрежне баријере
Name[sq]=Konfigurimi i Murit mbrojtës
Name[sl]=Nastavitev požarnega zidu
Name[sk]=Nastavenia firewall
Name[ru]=Настройка межсетевого экрана
Name[pt_BR]=Configuração do Firewall
Name[pl]=Konfiguracja zapory sieciowej
Name[nl]=Firewall-instellingen
Name[nb]=Konfigurasjon av brannmur
Name[lv]=Ugunsmūra konfigurācija
Name[id]=Konfigurasi firewall
Name[hu]=Tűzfalbeállítás
Name[hrx]=Fajř-vannt-ʃtelluŋŋ
Name[hr]=Postavke vatrozida
Name[gl]=Configuración da devasa
Name[fr]=Configuration du pare-feu
Name[fi]=Palomuurin asetukset
Name[es]=Configuración del cortafuegos
Name[en_AU]=Firewall Configuration
Name[el]=Ρύθμιση τείχους προστασίας
Name[de]=Firewall-Konfiguration
Name[cs]=Nastavení firewallu
Name[bg]=Конфигуриране на защитна стена
Name[ast]=Configuración del tornafueos
Name[ar]=إعدادات الجدار الناري
Comment=Allows you to configure ufw firewall
Comment[zh_TW]=允許您設定 ufw 防火牆
Comment[vi]=Cho phép bạn cấu hình tường lửa ufw
Comment[uk]=Дозволяє налаштувати брандмауер uwf
Comment[tr]=Ufw güvenlik duvarı uygulamasını yapılandırmanıza yardımcı olur
Comment[sv]=Låter dig konfigurera ufw-brandväggen
Comment[sr]=Омогућава вам да подесите уфв мрежну баријеру
Comment[sq]=Ju lejon te configuroni murin mbrojtes
Comment[sl]=Omogoča nastavitev požarnega zidu ufw
Comment[sk]=Umožní vám nastaviť ufw firewall
Comment[ru]=Графическая оболочка для настройки межсетевого экрана ufw
Comment[pt_BR]=Permite você configurar o firewall ufw
Comment[pl]=Pozwala skonfigurować zaporę ufw
Comment[nl]=Hiermee kunt u de ufw-firewall instellen
Comment[nb]=Lar deg konfigurere ufw-brannmuren
Comment[lv]=Ļauj jums konfigurēt ufw ugunsmūri
Comment[id]=Memudahkan anda untuk mengkonfigurasi firewall ufw
Comment[hu]=Az ufw tűzfal beállítása
Comment[hrx]=Losst’tyģģ’ən ufw fajř-vannt ʃtellë
Comment[hr]=Omogućava vam konfiguraciju ufw vatrozida
Comment[gl]=Permítelle configurar a súa devasa ufw
Comment[fr]=Vous permet de configurer le pare-feu « ufw »
Comment[fi]=Graafinen käyttöliittymä ufw-palomuurin hallintaan
Comment[es]=Permite configurar el cortafuegos ufw
Comment[en_AU]=Allows you to configure ufw firewall
Comment[el]=Σας επιτρέπει να ρυθμίσετε το τείχος προστασίας ufw
Comment[de]=Erlaubt Ihnen, die ufw-Firewall zu konfigurieren
Comment[cs]=Umožňuje nastavení firewallu ufw
Comment[bg]=Дава ви възможност за настройка на защитната стена ufw
Comment[ast]=Permite configurar el tornafuéu ufw
Comment[ar]=يسٌمح لك بإعداد الجدار الناري UFW
Categories=GNOME;GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Exec=gufw
Icon=gufw
Terminal=false
Type=Application
X-GNOME-Settings-Panel=gufw
X-Unity-Settings-Panel=gufw
X-Ubuntu-Gettext-Domain=gufw
