[Desktop Entry]
Name=JAAA (ALSA)
Comment=JACK and ALSA Audio Analyser
Exec=jaaa -A
Icon=jaaa
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
