[Desktop Entry]
Name=JAAA
Comment=JACK and ALSA Audio Analyser
Exec=jaaa -J
Icon=jaaa
Terminal=false
Type=Application
Categories=AudioVideo;Audio;X-Jack;
