[Desktop Entry]
Version=1.0
Type=Application
Name=sdltrs
Comment=Emulator for TRS-80
Categories=System;
Exec=sdltrs
Icon=sdltrs
Terminal=false
StartupNotify=false
