[Desktop Entry]
Name=mininim
Comment=MININIM: Prince of Persia I
Exec=/usr/games/mininim
Icon=mininim
Terminal=false
Type=Application
Categories=Game;ActionGame;
