[Desktop Entry]
Name=Unreal Tournament 2004
GenericName=Unreal Tournament 2004
Type=Application
Comment=The classic fast paced tournament shooter.
Exec=ut2004
Icon=ut2004
Categories=Game
