[Desktop Entry]
Name=IDLEX
Comment=IDLE Extensions for Python
Icon=idlex
Exec=/usr/bin/idlex
Terminal=false
Type=Application
Categories=Development;Utility;
