[Desktop Entry]
Name=Brave
Comment=Browse the World Wide Web
Exec=brave %u
Icon=/usr/share/pixmaps/brave.png
Terminal=false
Type=Application
Categories=Network;WebBrowser
GenericName=Web Browser
