[Desktop Entry]
Type=Application
Exec=java -jar /usr/bin/wehi-cellsymphony.jar
Terminal=false
Name=Flow cytometry CellSymphony
Comment=Audio representation of flow cytometric data
Icon=wehi-cellsymphony
Categories=Education;
