[Desktop Entry]
Name= ASC
Comment= ASC is a free, turn based strategy game
Exec=asc
Icon=asc
Terminal=false
Type=Application
Categories=Game;TurnBasedStrategy;
GenericName=Game
