[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=SMath Studio
GenericName=Computer algebra system
Comment=Symbolic computation software
Icon=smath-studio
Exec=smath-studio.sh
Categories=Science;Education;Math
MimeType=
