[Desktop Entry]
Encoding=UTF-8
Name=ZSNES
Comment=SNES Emulator
Exec=zsnes
Icon=/usr/share/pixmaps/zsnes.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;
StartupNotify=false
GenericName=ZSNES Emulator
X-KDE-StartupNotify=false
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;
