[Desktop Entry]
Name=Energia IDE
GenericName=Energia IDE
Comment=Energia IDE development
Exec=energia
Icon=energia
Terminal=false
Type=Application
Categories=KDE;Qt;GNOME;GTK;Development;
