[Desktop Entry]
Type=Application
Name=GZDoom
GenericName=OpenGL Enhanced Doom Engine
Icon=gzdoom
Exec=/usr/games/gzdoom %F
Terminal=false
Categories=Game;ActionGame;
