[Desktop Entry]
Version=3.90
Encoding=UTF-8
Name=ScanGearMP
Type=Application
Exec=scangearmp2
Terminal=false
Icon=scanner.png
Comment=Canon Scanner
NoDisplay=false
Categories=Graphics;