[Desktop Entry]
Exec=gmidimonitor
Icon=/usr/share/gmidimonitor/gmidimonitor-64.xpm
Name=gmidimonitor
GenericName=Midi monitor (via alsa or jack)
StartupNotify=true
Type=Application
Categories=AudioVideo;X-MIDI;
