[Desktop Entry]
Encoding=UTF-8
Exec=jack_capture_gui2
Icon=/usr/share/jack_capture_gui2/jack_capture_gui2_48.xpm
Name=JackCapture
GenericName=Jack Capture 
GenericName[el]=Εγγραφέας Jack
StartupNotify=true
Type=Application
Categories=AudioVideo;
