[Desktop Entry]
Name=ZEsarUX
Comment=ZX Machines Emulator
Exec=/opt/ZEsarUX/bin/zesarux
Icon=/usr/share/pixmaps/ZEsarUX.png
Terminal=false
Type=Application

