[Desktop Entry]
Type=Application
Version=1.0
Name=Second Life
GenericName=Second Life Client
Icon=secondlife_icon
Exec=/opt/SecondLife/secondlife
Terminal=false
StartupNotify=false
Categories=Game;ActionGame;
