[Desktop Entry]
Name=Dobbscoin
GenericName=Dobbscoin QT-Client
Comment=Dobbscoin client to send and receive money
Exec=/usr/bin/dobbscoin-qt
Icon=dobbscoin
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;P2P;
