[Desktop Entry]
Name=X PDF 3
MimeType=application/pdf;
GenericName=PDF Viewer 3
Exec=xpdf3
Icon=xpdfIcon3
Type=Application
Terminal=false
X-KDE-StartupNotify=false
Categories=Graphics;
