[Desktop Entry]
Name=20K Lightyears into space
Exec=lightyears
Icon=lightyears
GenericName=manage a steam supply network
Comment=manage a steam supply network
Terminal=false
Type=Application
Categories=Qt;KDE;Game;
