[Desktop Entry]
Name=Super Mario War
Comment=Super Mario multiplayer game
Exec=smw
Icon=smw
Terminal=false
Type=Application
Categories=Game;ActionGame;
