[Desktop Entry]
Type=Application
Name=Opensonic
GenericName=Opensonic
Comment=Game based on the "Sonic the Hedgehog" universe.
Exec=opensonic
Categories=Game;ArcadeGame;
Icon=opensonic
Terminal=false
StartupNotify=false
