[Desktop Entry]
Version=1.0
Type=Application
Name=Image Analyzer
Comment=Analyze optical media (CD/DVD) images
TryExec=image-analyzer
Exec=image-analyzer %F
MimeType=application/libmirage-image;application/x-cd-image;application/x-cue;application/x-cdrdao-toc;
Icon=image-analyzer
Terminal=false
Categories=System;

