[Desktop Entry]
Name=GNOME pkgtool
Comment=Slackware Linux package management tool
Exec=gnome-pkgtool
Icon=gnome-pkgtool
StartupNotify=false
Type=Application
Categories=System
