[Desktop Entry]
Version=1.0
Exec=gl-117
TryExec=gl-117
Icon=gl-117
Terminal=false
Name=GL-117
GenericName=Action flight simulator
Comment=Action flight simulator
Categories=Game;Simulation;
Type=Application
StartupNotify=false
