[Desktop Entry]
Name=emesene
GenericName=An IM for the WLM® network
GenericName[pt_BR]=Cliente para Windows® Live Messenger
Exec=emesene
Icon=emesene-logo
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;InstantMessaging;
