[Desktop Entry]
Type=Application
Name=Cubosphere
GenericName=Logic Game
Comment=3d puzzle
Exec=cubosphere
Icon=cubosphere
Categories=Game;LogicGame;
Terminal=false
StartupNotify=false
