[Desktop Entry]
Name=xgridloc
GenericName=xgridloc
Comment=GTK+ application for the calculation of Maidenhead QRA Locators
Exec=xgridloc
Icon=xgridloc
Terminal=false
Type=Application
Categories=HamRadio;
Version=1.0
X-Desktop-File-Install-Version=0.15
