[Desktop Entry]
Name=KLog
Encoding=UTF-8
Comment=KDE Ham Radio logging program
Comment[es]=Programa de log para radioaficionados de KDE
Exec=klog
Terminal=false
Type=Application
Categories=HamRadio;Utility;
Icon=/usr/share/icons/locolor/32x32/apps/klog.png
