[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Firestorm Viewer
GenericName=Second Life Client
Icon=firestorm.png
Exec=firestorm
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame

