[Desktop Entry]
Name= Crossfire
Name[he]= Crossfire
Comment= A free and open source cross platform MMORPG
Exec=crossfire-client-gtk2
Icon=crossfire-client
Terminal=false
Type=Application
Categories=Game;RolePlaying;
GenericName=Game
