[Desktop Entry]
Encoding=UTF-8
Name=x264
GenericName=H264/AVC Encoder
Comment=A free H264/AVC encoder
Icon=/usr/share/pixmaps/x264.png
Exec=x264_gtk_encode
Terminal=False
Type=Application
Categories=Application;AudioVideo
