[Desktop Entry]
Name=SQLiteStudio
Comment=SQLite database manager
Exec=/opt/SQLiteStudio/sqlitestudio
Icon=/usr/share/pixmaps/SQLiteStudio.png
Terminal=false
Type=Application
Categories=System;Development;

