[Desktop Entry]
Name=FSViewer
Comment=File Viewer
Comment[pl]=Przeglądarka plików
Exec=/usr/bin/fsviewer
Icon=/usr/share/pixmaps/fsviewer.xpm
Terminal=false
Type=Application
Categories=FileManager;System;FileTools;
