[Desktop Entry]
Name=FSViewer
Comment=File Viewer
Comment[pl]=Przeglądarka plików
Exec=/usr/bin/fsviewer
Icon=fsviewer
Terminal=false
Type=Application
Categories=Utility;FileManager;System;FileTools;
