[Desktop Entry]
Name=NBlood
Comment=Blood Game Engine
Icon=nblood
Exec=/usr/games/nblood %f
Terminal=false
Type=Application
Categories=Game;ActionGame;
