[Desktop Entry]
Name=PCExhumed
Comment=Exhumed/Powerslave Game Engine
Icon=nblood
Exec=/usr/games/pcexhumed %f
Terminal=false
Type=Application
Categories=Game;ActionGame;
