[Desktop Entry]
Name=RedNukem
Comment=Duke 3D Game Engine
Icon=nblood
Exec=/usr/games/rednukem %f
Terminal=false
Type=Application
Categories=Game;ActionGame;
