[Desktop Entry]
Categories=Education;
Exec=java -Xmx2048m -jar /usr/bin/archaeopteryx.jar
Icon=archaeopteryx
Name=Archaeopteryx
StartupNotify=false
Type=Application
