[Desktop Entry]
Encoding=UTF-8
Name=NetHack (Qt)
GenericName=Rogue-like Game
Comment=Graphical NetHack client
Exec=nethack-qt
Icon=nethack.xpm
Terminal=false
Type=Application
Categories=Application;Game;StrategyGame;
