[Desktop Entry]
Encoding=UTF-8
Name=NetHack (X11)
GenericName=Rogue-like Game
Comment=Graphical NetHack client
Exec=nethack-x11
Icon=nethack.xpm
Terminal=false
Type=Application
Categories=Application;Game;StrategyGame;
