[Desktop Entry]
Name=Pathways Into Darkness
Exec=pathways-into-darkness
Icon=pathways-into-darkness
Type=Application
Comment=Pathways Into Darkness (first-person shooter game)
Categories=Game;ActionGame;
