[Desktop Entry]
Version=1.0
Type=Application
Name=Coriander
GenericName=IEEE-1394 Digital Camera Controller
Comment=Control IEEE-1394 digital cameras compatible with the IIDC specifications
Exec=coriander
Icon=/usr/share/icons/hicolor/128x128/apps/coriander.png
Terminal=false
Categories=Application;AudioVideo;Video;GTK;
StartupNotify=true
