[Desktop Entry]
Name=FreeRapid
GenericName=Download Manager
Comment=Java based download manager
Exec=/usr/bin/freerapid
StartupNotify=true
Icon=freerapid
Type=Application
Categories=Network;
