[Desktop Entry]
Encoding=UTF-8
Name=Extreme Tuxracer
Comment=Racing game with Tux, the penguin
Exec=etracer
Icon=etracericon_48
Terminal=false
Type=Application
StartupNotify=true
Categories=Game;ArcadeGame;
