[Desktop Entry]
Name=kDrive
Comment=Infomaniak Drive desktop synchronization client
Comment[fr]=Client de synchronisation de bureau Infomaniak Drive
Exec=kDrive
Icon=kDrive
Type=Application
Categories=Network;FileTransfer;
Keywords=Infomaniak Drive;syncing;file;sharing;
MimeType=application/vnd.kDrive;
