[Desktop Entry]
Comment=a MUD/MOO/MUSH terminal client
Comment[fr_FR]=un terminal client de MUD/MOO/MUSH
Exec=ggmud
GenericName=MUD terminal client
GenericName[fr_FR]=terminal client de MUD
Icon=ggmud.png
Name=ggmud
StartupNotify=true
Terminal=false
Type=Application
Categories=Game
