[Desktop Entry]
Type=Application
Name=Guitar
Comment=Graphical git client
Categories=Development;
Exec=/usr/bin/guitar
Icon=/usr/share/icons/hicolor/scalable/apps/guitar.svg
Terminal=false
