[Desktop Entry]
Name=FreedroidClassic
Name[he]= FreedroidClassic
Comment=FreedroidClassic is a clone of the game "Paradroid"
Exec=freedroid
Icon=freedroid
Terminal=false
Type=Application
Categories=Game;Action;RPG
GenericName=Game
