[Desktop Entry]
Name=OpenCobolIDE
Comment=A simple lightweight COBOL IDE based on OpenCobol
Exec=open-cobol-ide
Terminal=false
Type=Application
Icon=OpenCobolIDE
Categories=Development;IDE;
