[Desktop Entry]
Encoding=UTF-8
Name=Mapster32
GenericName=Duke Nukem 3D Editor
Comment=Mapster32 Duke Nukem 3D Editor
Icon=/usr/share/pixmaps/eduke32.png
Exec=mapster32
Terminal=false
Type=Application
Categories=Application;Game;Editor
