[Desktop Entry]
Exec=/usr/bin/xschem 
InitialPreference=2
MimeType=application/xscheme;
Name=xscheme
Comment=Schematic capture
Icon=/usr/share/pixmaps/xschem/xschem.png
Terminal=false
Type=Application
Categories=Graphics;
Keywords=CAD;simualtion;design;drawing;
