[Desktop Entry]
Name=GtkLPQ
Comment=CUPS printer queue manager
Exec=gtklpq
Icon=/usr/share/pixmaps/gtklpq.png
Terminal=false
Type=Application
Categories=GTK;GNOME;System;
StartupNotify=true
