[Desktop Entry]
Name=OpenArena
GenericName=Game
Comment="An open source Quake3-based FPS game"
Exec=/usr/games/openarena
Icon=/usr/share/pixmaps/openarena.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Game;ActionGame;
