[Desktop Entry]
Name=OpenArena Server
GenericName=Game
Comment="Run an OpenArena server"
Exec=/usr/games/openarena-server
Icon=/usr/share/pixmaps/openarena-server.png
Terminal=true
MultipleArgs=false
Type=Application
Categories=Network;
