[Desktop Entry]
Type=Application
Exec=java -jar /usr/bin/wehi-hackit.jar
Terminal=false
Name=Flow cytometry Hackit
Icon=wehi-hackit
Categories=Education;
