[Desktop Entry]
Name=XFrotz
GenericName=Z-Code Interpreter
Comment=X11 Player for Interactive Fiction Games
Exec=xfrotz %f
Icon=frotz
Terminal=false
Type=Application
Categories=Game;AdventureGame;
MimeType=application/x-zmachine;
NoDisplay=true
Actions=Play;

[Desktop Action Play]
Name=Play
Exec=xfrotz %f
