[Desktop Entry]
Name=HexGlass
Comment=The HexGlass is a Tetris-like puzzle game
Exec=/usr/games/hexglass
Icon=/usr/share/pixmaps/hexglass.png
Terminal=false
Type=Application
Categories=Game;LogicGame;
