[Desktop Entry]
Version=1.0
Type=Application
Name=K-3D
Comment=3D modeling and animation software
Categories=Graphics;
Exec=k3d
Icon=k3d
Terminal=false
StartupNotify=false

