[Desktop Entry]
Version=1.0
Name=Connie (Qt4)
Comment=Drawbar Organ Emulator
Icon=connie
Exec=connie_qt4
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
