[Desktop Entry]
Encoding=UTF-8
Name=CG Madness
GenericName=Marble Madness-like game
Comment=Game based on the classic Marble Madness
Exec=/usr/share/games/cgmadness/cgmadness
Icon=/usr/share/pixmaps/cgmadness.png
Terminal=false
Type=Application
Categories=Game;
