[Desktop Entry]
Name=CG Madness
GenericName=Marble Madness-like game
Comment=Game based on the classic Marble Madness
Exec=/usr/games/cgmadness
Icon=/usr/share/pixmaps/cgmadness.png
Terminal=false
Type=Application
Categories=Game;
