[Desktop Entry]
Name=kforth
Comment=kforth (1.x) is a 32-bit Forth System for x86
Exec=/usr/bin/kforth
Icon=/usr/share/pixmaps/kforth.xpm
Terminal=true
Type=Application
Categories=Development;

