[Desktop Entry]
Name=Secret Maryo Chronicles
Comment=An Open Source 2-D platform game like Super Mario Bros.
Exec=smc
Icon=/usr/share/smc/icon/window_32.png
Terminal=false
Type=Application
Categories=Game;ActionGame;
