[Desktop Entry]
Version=1.0
Type=Application
Path=/opt/Digital
Exec=/opt/Digital/Digital.sh %f
Name=Digital
GenericName=Digital Simulator
Comment=Easy-to-use digital logic designer and circuit simulator 
Icon=Digital
MimeType=text/x-digital;
StartupNotify=true
Categories=Education;Electronics;Development;
Terminal=false
Keywords=simulator;digital;circuits;