[Desktop Entry]
Encoding=UTF-8
Name=frostwire
Comment=P2P Gnutella/Bittorrent client
Exec=/usr/bin/frostwire
Icon=/usr/share/pixmaps/frostwire.png
Terminal=false
Categories=Application;Network;
Type=Application
StartupNotify=true
