[Desktop Entry]
Name=Frostwire
Comment=P2P Gnutella/Bittorrent client
Exec=/usr/bin/frostwire
Icon=frostwire
Terminal=false
Categories=Network;
Type=Application
StartupNotify=true
