[Desktop Entry]
Version=1.0
Name=Glest g3d Viewer
Comment=Glest g3d viewer
Exec=glest_g3dviewer
Icon=glest
Terminal=false
Type=Application
Categories=Application;Game;StrategyGame;
StartupNotify=false
