[Desktop Entry]
Name=STM32CubeProgrammer
GenericName=STM32CubeProgrammer
Exec=/opt/stm32cubeprog/bin/STM32CubeProgrammer
Icon=stm32cubeprog
Path=/opt/stm32cubeprog/bin
Terminal=false
StartupNotify=true
Type=Application
Categories=Development
