[Desktop Entry]
Name= 1945
Name[he]= 1945
Comment= 1945 is a simple top-down shooter
Exec=game_1945
Icon=game_1945
Terminal=false
Type=Application
Categories=Game;Action;
GenericName=Game
