[Desktop Entry]
Exec=mysqlcc
Icon=mysqlcc
Name=MySQLcc
GenericName=MySQL Front End (Control Center)
GenericName[el]=Γραφική διασύνδεση για MySQL
StartupNotify=true
Type=Application
Categories=Development;Database;
