[Desktop Entry]
Name=OpenERP
GenericName=Enterprise Resource Planning
Comment=Basic ERP & CRM
Exec=openerp-client
Icon=/usr/share/pixmaps/openerp-client/openerp-icon.png
Terminal=false
Type=Application
Categories=Office;
StartupNotify=true
