[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Bacula Bat Console
GenericName=Backup Management Console
Comment=Control your Bacula Server
Exec=%sbindir%/bat
Icon=/usr/share/icons/hicolor/64x64/apps/bacula.png
Terminal=false
Type=Application
Categories=System;Application;Utility
