[Desktop Entry]
Name=ScrabbleAI
GenericName=Crossword Game
Comment=Game similar to Scrabble(tm)
Exec=/usr/games/scrabbleai
Icon=scrabbleai
Terminal=false
Type=Application
Categories=Game;BoardGame
