# sample /etc/cgitrc file: two repos are defined
# you can see a demo here http://cgit.ponce.cc/

root-title=ponce's repository browser
root-desc=a fast interface to these git repositories
virtual-root=/
snapshots=tar.gz

#css=/static/cgit.css
#logo=/static/cgit.png

# repository specific data
repo.url=slackbuilds
repo.path=/path/to/repo/.git
repo.desc=slackbuilds.org fork for slackware-current
repo.owner=my.address _at_ my.isp
# the default branch here is set to current (default if omitted is master)
repo.defbranch=current
repo.clone-url=git://github.com/Ponce/slackbuilds.git

# if you need to display other repositories you can more config blocks
# like the one above
