div#cgit span.libravatar img.onhover {
        display: none;
        border: 1px solid gray;
        padding: 0px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        width: 128px;
        height: 128px;
}

div#cgit span.libravatar img.inline {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        width: 13px;
        height: 13px;
        margin-right: 0.2em;
        opacity: 0.4;
}

div#cgit span.libravatar:hover > img.onhover {
        display: block;
        position: absolute;
        margin-left: 1.5em;
        background-color: #eeeeee;
        box-shadow: 5px 5px 3px #bbb;
}
