[Desktop Entry]
Name=Widelands
Name[de]=Widelands
Comment="Settlers II" clone
Comment[de]= Ein "Siedler II" Clone
Exec=widelands
Icon=/usr/share/games/widelands/pics/wl-ico-48.png
Terminal=false
Type=Application
Categories=Game;StrategyGame;
