[Desktop Entry]
Categories=Application;Office;Presentation;
Comment=The Presentations software lets you design any kind of presentation - even including special effects, animations, and transitions.
Encoding=UTF-8
Exec=/usr/bin/presentations18free %F
GenericName=Presentation
Icon=/usr/share/pixmaps/prl18free.png
InitialPreference=10
MimeType=application/x-prdx;application/x-prvx;application/x-prsx;application/x-prd;application/x-prv;application/x-prs;application/ppt;application/mspowerpoint;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint.presentation.macroenabled.12;application/vnd.openxmlformats-officedocument.presentationml.template;application/vnd.ms-powerpoint.template.macroEnabled.12;application/vnd.ms-powerpoint.slideshow.macroenabled.12;application/vnd.openxmlformats-officedocument.presentationml.slideshow;
Name=FreeOffice 2018 Presentations
NoDisplay=false
Path[$e]=/usr/share/freeoffice2018
StartupNotify=true
StartupWMClass=pr
Terminal=0
TerminalOptions=
TryExec=/usr/bin/presentations18free
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
