[Desktop Entry]
Categories=Application;Office;WordProcessor;
Comment=The TextMaker word processor lets you work on any type of document.
Encoding=UTF-8
Exec=/usr/bin/textmaker18free %F
GenericName=Word Processor
Icon=/usr/share/pixmaps/tml18free.png
InitialPreference=10
MimeType=application/x-tmdx;application/x-tmvx;application/x-tmd;application/x-tmv;application/msword;application/vnd.ms-word;application/x-doc;text/rtf;application/rtf;application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-template;application/vnd.stardivision.writer;application/vnd.sun.xml.writer;application/vnd.sun.xml.writer.template;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.ms-word.document.macroenabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.template;application/vnd.ms-word.template.macroenabled.12;application/x-pocket-word;application/x-dbf;application/msword-template;
Name=FreeOffice 2018 TextMaker
NoDisplay=false
Path[$e]=/usr/share/freeoffice2018
StartupNotify=true
StartupWMClass=tm
Terminal=0
TerminalOptions=
TryExec=/usr/bin/textmaker18free
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
