[Desktop Entry]
Version=1.0
Type=Application
Name=gsplus
Comment=Modern cross-platform Apple IIgs emulator
Exec=gsplus %f
Icon=gsplus
Path=/$HOME/.local/share/gsplus
Terminal=false
Categories=System;
MimeType=application/x-gsplus;
Keywords=apple,simulator;