[Desktop Entry]
Name=cinelerra
Comment=MultiMedia Editor
Comment[fr]=Éditeur multimédia
Categories=AudioVideo;AudioVideoEditing;
Encoding=UTF-8
Exec=cin
Icon=/usr/share/pixmaps/cin.xpm
Terminal=false
Type=Application
