[Desktop Entry]
Name=LSHW
Comment=HardWare LiSter
Categories=Application;System;
Icon=/usr/share/lshw/artwork/logo.svg
Exec=/usr/sbin/gtk-lshw
Type=Application
Terminal=false
Encoding=UTF-8

