[Desktop Entry]
Name=Jezzball
Comment=Jezzball Clone by Kazzmir
Exec=/usr/games/jezzball-kazzmir
Type=Application
Icon=jezzball-kazzmir
Categories=Game;ArcadeGame;
