[Desktop Entry]
Encoding=UTF-8
Name=Gem Drop X
GenericName=Fast-paced Puzzle Game
Exec=gemdropx
Terminal=false
Type=Application
Categories=Application;Game;StrategyGame
Icon=gemdropx.xpm
StartupNotify=false
