[Desktop Entry]
Categories=Education;
Comment=Molecular evolutionary genetics analysis
Exec=megax
Icon=megax
Name=MEGA X
StartupNotify=false
Terminal=false
Type=Application
