[Desktop Entry]
Version=1.0
Name=Furius ISO Mount
Type=Application
Exec=furiusisomount
Terminal=false
GenericName[en_GB]=
Icon=gtk-cdrom
Categories=System;
GenericName=Furius ISO Mount
