[Desktop Entry]
Version=1.0
Name=XJoyce
GenericName=Amstrad PCW Emulator
Type=Application
Exec=xjoyce
Icon=xjoyce
Terminal=false
StartupNotify=false
Categories=Emulator;System;
