[Desktop Entry]
Type=Application
Name=Yahtzee
GenericName=Yahtzee
Comment=Yahtzee dice/board game
Exec=yahtzee-sdl
Icon=yahtzee
Terminal=false
Categories=Game;BoardGame;
