[Desktop Entry]
Type=Application
Exec=env SWT_GTK3=0 eclipse-php
Name=Eclipse PHP
GenericName=Eclipse IDE for PHP Developers
Icon=eclipse-php
StartupNotify=true
Categories=Qt;KDE;GNOME;Development;GTK;
