[Desktop Entry]
Type=Application
Version=1.0
Name=SLADE
GenericName=Doom editor
Icon=SLADE
Exec=slade %F
Terminal=false
MimeType=application/x-doom-wad;application/x-pak;application/zip;inode/directory;
Categories=GTK;Utility;Archiving;
