[Desktop Entry]
Categories=Education;
Comment=Molecular evolutionary genetics analysis
Exec=megaproto
Icon=megaproto
Name=MEGA Proto
StartupNotify=false
Type=Application
