[Desktop Entry]
Version=1.0
Type=Application
Name=Fizmo
Comment=Interactive Fiction Engine
Icon=fizmo
Exec=fizmo
Categories=Game;AdventureGame;
Terminal=true
