[Desktop Entry]
Type=Application
Name=Jedi Academy (Multi)
Comment=A Linux port of Star Wars Jedi Knight: Jedi Academy
Icon=OpenJK-academy
Exec=/opt/JediAcademy/openjk.TARGETARCH
Terminal=false
Categories=Game;
