[Desktop Entry]
Type=Application
Name=qmidiroute
GenericName=qmidiroute
Comment=Midi Router
Icon=qmidiroute
TryExec=qmidiroute
Exec=qmidiroute
Terminal=false
Categories=AudioVideo;AudioVideoEditing;Music;
