[Desktop Entry]
Type=Application
Name=Chroma
GenericName=Chroma
Comment=Puzzle game
Comment[fr]=Jeu de casse-tête
Icon=chroma
Exec=chroma
Categories=Game;
