[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/share/jugglinglab/JugglingLab
Icon=jugglinglab
StartupNotify=false
Categories=Education;
Name=Juggling Lab
Comment=Juggling Patten Tool
