[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=/usr/share/jugglinglab/JugglingLab
Icon=jugglinglab
StartupNotify=false
Categories=Education;
Name=Juggling Lab
Comment=Juggling Lab
