[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/share/jugglinglab/JugglingLab.sh
Icon=jugglinglab
StartupNotify=false
Categories=Education;
Name=Juggling Lab
Comment=Juggling Lab
