[Desktop Entry]
Type=Application
Version=1.0
Name=Singularity Viewer
GenericName=Second Life Client
Icon=singularity
Exec=singularity
Terminal=false
StartupNotify=false
Categories=Game;ActionGame;
