[Desktop Entry]
Version=1.0
Exec=xhtml2ps
TryExec=xhtml2ps
Icon=xhtml2ps
Terminal=false
Name=xhtml2ps
GenericName=HTML to PS Converter
Categories=Office;
Type=Application
StartupNotify=false
