[Desktop Entry]
Comment=WeChat Universal
Comment[zh_CN]=
TryExec=/usr/lib/wechat-universal/wechat-universal.sh start
Exec=/usr/lib/wechat-universal/wechat-universal.sh start %u
Icon=wechat-universal
Name=WeChat (Universal)
Name[zh_CN]=微信 Universal
Categories=Network;InstantMessaging;Chat;
Terminal=false
Type=Application
Keywords=wechat;weixin;we;w;
Keywords[zh_CN]=微;微信;wechat;weixin;we;
StartupWMClass=wechat
X-GNOME-SingleWindow=true
X-SingleMainWindow=true
Actions=quit;

[Desktop Action quit]
Name=Quit WeChat
Name[zh_CN]=退出
Exec=/usr/lib/wechat-universal/wechat-universal.sh stop
Icon=application-exit
