[Desktop Entry]
Name=LinLogBook
GenericName=LinLogBook
Comment=A ham radio logbook for linux
Exec=linlogbook
Icon=linlogbook
Terminal=false
Type=Application
Categories=HamRadio;
Version=1.0
