# Note: If you enable local0 logging. You'll probably want to add
# something like local0.none to your /etc/syslogd.conf
#
# Otherwise the logs will be sent to your /var/log/messages file
# as well as the logfile specified below.
#
# An example would be to change the default line
#
# authpriv.none;cron.none;mail.none;news.none    -/var/log/messages
# to
# authpriv.none;cron.none;mail.none;news.none;local0.none -/var/log/messages
# 
# Move this file to /etc/syslog.d/ with .conf extension
# so syslog will load it automatically.
#
# Also remember to restart sysklogd
# sh /etc/rc.d/rc.syslog restart
#

local0.*                -/var/log/haproxy
