[Desktop Entry]
Type=Application
Name=xVideoServiceThief
GenericName=Video Downloader
GenericName[de]=Video-Downloader
GenericName[cs]=Stahování videí
Comment=Download videos and convert it
Comment[de]=Videos herunterladen und konvertieren
Comment[cs]=Nástroj pro stahování a konvertování videí z různých portálů
Icon=xvst
Exec=xvst
Terminal=false
StartupNotify=false
Categories=Qt;AudioVideo;Audio;Video;
