[Desktop Entry]
Version=1.0
Name=Zork II
GenericName=Interactive Fiction Game
Comment=Zork: The Wizard of Frobozz
Icon=zork
Exec=zork2
Terminal=true
Type=Application
Categories=Game;AdventureGame;
