[Desktop Entry]
Version=1.0
Name=Zork III
GenericName=Interactive Fiction Game
Comment=Zork: The Dungeon Master
Icon=zork
Exec=zork3
Terminal=true
Type=Application
Categories=Game;AdventureGame;
