[Desktop Entry]
Version=1.0
Name=Zork I
GenericName=Interactive Fiction Game
Comment=Zork: The Great Underground Empire
Icon=zork
Exec=zork1
Terminal=true
Type=Application
Categories=Game;AdventureGame;
