[Desktop Entry]
Version=1.0
Name=Zork TUU
GenericName=Interactive Fiction Game
Comment=Zork: The Undiscovered Underground
Icon=zork
Exec=ztuu
Terminal=true
Type=Application
Categories=Game;AdventureGame;
