[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=GitEye
Keywords=git
GenericName=Git Client
Type=Application
Categories=Development;RevisionControl
Terminal=false
StartupNotify=true
Exec="/usr/share/GitEye/GitEye" %u
MimeType=x-scheme-handler/GitEye
Icon=GitEye
