[Desktop Entry]
Exec=/usr/bin/pkexec /usr/sbin/gslapt
Name[bg]=Мениджър на пакети Gslapt
Name[ca]=Gestor de paquets Gslapt
Name[cs]=Správce balíčků Gslapt
Name[de]=Gslapt-Paketverwaltung
Name[el]=Διαχειριστής Πακέτων Gslapt
Name[es]=Administrador de Paquetes Gslapt
Name[es_AR]=Administrador de Paquetes Gslapt
Name[fr]=Gestionnaire de paquets Gslapt
Name[gl_ES]=Gslapt Package Manager
Name[he]=מנהל חבילות Gslapt
Name[hi_IN]=GSlapt पैकेज प्रबंधक
Name[hu]=Gslapt csomagkezelő
Name[id]=Gslapt Package Manager
Name[it]=Gestore pacchetti Gslapt
Name[ja]=Gslapt パッケージマネージャー
Name[nl]=Gslapt pakketbeheer
Name[no]=Gslapt Pakkeadministrasjon
Name[pl]=Gslapt Menedżer Pakietów
Name[pt]=Gestor de pacotes Gslapt
Name[pt_BR]=Gerenciador de Pacotes Gslapt
Name[pt_PT]=Gestor de pacotes Gslapt
Name[ru]=Менеджер пакетов Gslapt
Name[sk]=Gslapt Package Manager
Name[sl]=Upravitelj paketov Gslapt
Name[sv]=Gslapt Pakethanterare
Name[tr]=Gslapt Package Manager
Name[uk]=Менеджер пакункiв Gslapt
Name[vi]=Gslapt Package Manager
Name[zh_CN]=Gslapt Package Manager
Name=Gslapt Package Manager
GenericName[bg]=Gslapt
GenericName[ca]=Gslapt
GenericName[cs]=Gslapt
GenericName[de]=Gslapt
GenericName[el]=Gslapt
GenericName[es]=Gslapt
GenericName[es_AR]=Gslapt
GenericName[fr]=Gslapt
GenericName[gl_ES]=Gslapt
GenericName[he]=Gslapt
GenericName[hi_IN]=Gslapt
GenericName[hu]=Gslapt
GenericName[id]=Gslapt
GenericName[it]=Gslapt
GenericName[ja]=Gslapt
GenericName[nl]=Gslapt
GenericName[no]=Gslapt
GenericName[pl]=Gslapt
GenericName[pt]=Gslapt
GenericName[pt_BR]=Gslapt
GenericName[pt_PT]=Gslapt
GenericName[ru]=Gslapt
GenericName[sk]=Gslapt
GenericName[sl]=Gslapt
GenericName[sv]=Gslapt
GenericName[tr]=Gslapt
GenericName[uk]=Gslapt
GenericName[vi]=Gslapt
GenericName[zh_CN]=Gslapt
GenericName=Gslapt
Comment[bg]=Инсталиране, премахване и обновяване на софтуерни пакети
Comment[ca]=Instal·leu, actualitzeu i elimineu paquets de programari
Comment[cs]=Instaluje, odebírá a upgraduje softwarové balíčky
Comment[de]=Software-Pakete installieren, entfernen und aktualisieren
Comment[el]=Εγκαταστήστε, απεγκαταστήστε και αναβαθμίστε πακέτα λογισμικού
Comment[es]=Instalar, eliminar y actualizar los paquetes de software
Comment[es_AR]=Instalar, eliminar y actualizar los paquetes de software
Comment[fr]=Installer, désinstaller et mettre à jour des paquets logiciels
Comment[gl_ES]=Install, remove and upgrade software packages
Comment[he]=התקנה, הסרה ושדרוג של חבילות תוכנה
Comment[hi_IN]=सॉफ्टवेयर पैकेज इंस्टॉल करें, हटाएँ व अपग्रेड करें
Comment[hu]=Programok telepítése, eltávolítása, frissítése
Comment[id]=Install, remove and upgrade software packages
Comment[it]=Installa, rimuove ed aggiorna i pacchetti software
Comment[ja]=ソフトウェアパッケージのインストール・削除・更新
Comment[nl]=Softwarepakketten installeren, verwijderen of bijwerken
Comment[no]=Installer, fjern eller oppgrader programvare pakker
Comment[pl]=Instalacja, usuwanie i aktualizacja pakietów z oprogramowaniem
Comment[pt]=Instalar, remover e atualizar pacotes
Comment[pt_BR]=Instalar, remover e atualizar pacotes
Comment[pt_PT]=Instalar, remover e atualizar pacotes
Comment[ru]=Установка, обновление и удаление пакетов
Comment[sk]=Install, remove and upgrade software packages
Comment[sl]=Install, remove and upgrade software packages
Comment[sv]=Installera, ta bort och uppgradera programpaket
Comment[tr]=Install, remove and upgrade software packages
Comment[uk]=Установка, вилучення і оновлення програмних пакунків
Comment[vi]=Install, remove and upgrade software packages
Comment[zh_CN]=Install, remove and upgrade software packages
Comment=Install, remove and upgrade software packages
Icon=/usr/share/pixmaps/gslapt.png
Terminal=false
Categories=PackageManager;Settings
StartupNotify=true
Type=Application
OnlyShowIn=KDE
