[Desktop Entry]
Name=Unknown Horizons
Name[he]= Unknown Horizons
Comment=A 2D real time strategy simulation with an emphasis on economy and city building
Exec=unknown-horizons
Icon=unknown-horizons
Terminal=false
Type=Application
Categories=Game;StrategyGame;Simulation;
GenericName=Game
