[Desktop Entry]
Name=Z26 v3.x
Comment=Atari 2600 emulator
Exec=z26v3 %f
Icon=z26v3
Terminal=false
Type=Application
StartupNotify=false
Categories=Emulator;Game;
MimeType=application/x-2600rom;
