[Desktop Entry]
Name=YAE
Comment=Apple II Emulator
StartupNotify=false
Exec=/usr/games/yae
Icon=yae
Terminal=false
Type=Application
Categories=System;
