#!/usr/bin/env xdg-open
[Desktop Entry]
Name=gpredict
Exec=gpredict
Icon=/usr/share/pixmaps/gpredict/icons/gpredict-icon.png
GenericName=Satellite Tracking
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Categories=GTK;Education;Science;Astronomy;
