[Desktop Entry]
Categories=System;
Comment=Design IPTables Firewall Rules
Encoding=UTF-8
Name=Firewall Builder
Icon=fwbuilder
Exec=fwbuilder
Type=Application
StartupNotify=true
Terminal=false
