[Desktop Entry]
Name=dissy
GenericName=objdump Disassembler
Comment=a graphical frontend to the objdump disassembler
Exec=dissy
Icon=dissy
Categories=Development;
Terminal=false
Type=Application
