[Desktop Entry]
Name=MKVInfo Gui
Comment=Show information about Matroska files
Exec=mkvinfo -g
Icon=matroska
Terminal=false
Type=Application
Categories=GTK;AudioVideo;
