[Desktop Entry]
Version=1.0
Encoding=UTF-8
Terminal=false
Icon=xfe
Type=Application
InitialPreference=2
Categories=System;
Exec=xfe
TryExec=xfe
Name=XFileExplorer
Comment=Lightweight File Manager
