[Desktop Entry]
Comment=an analysis tool for airfoils, wings, and planes
Exec=xflr5
GenericName=Aircraft analysis tool
Icon=xflr5_64
Name=xflr5
StartupNotify=true
Terminal=false
Type=Application
Categories=Education;Science;
