[Desktop Entry]
Type=Application
Name=SQL Power Architect
GenericName=SQL Power Architect
Comment=Manage, modeling and profiling databases
Icon=power-architect.png
Exec=power-architect
Terminal=false
StartupNotify=true
Categories=Database;Development;
