[Desktop Entry]
Name=CLAM Voice2MIDI
Comment=An audio tool to convert humming/singing to MIDI files
Icon=/usr/share/pixmaps/voice2midi.png
Type=Application
Categories=AudioVideo;Audio;Qt;
Exec=Voice2MIDI
Terminal=false
