[Desktop Entry]
Name=vkQuake
GenericName=idsoftware's Quake with Vulkan API support
Exec=vkquake
Terminal=false
Type=Application
Categories=Game;
Icon=/usr/share/pixmaps/vkQuake_512.png
StartupNotify=false
