[Desktop Entry]
Type=Application
Encoding=UTF-8
Exec=vym
Name=VYM - View Your Mind
Name[de]=VYM - View Your Mind
GenericName=Planning and Brainstorming Tool
Icon=vym
MimeType=application/x-vym;
Categories=Application;Qt;Office;
