[Desktop Entry]
Version=1.0
Name=MakeMKV
GenericName=Rip DVD/Blu-Ray to MKV
Comment=Convert DVD/ISO to Matroska Video "MKV" file
Type=Application
Exec=makemkv
Icon=makemkv
Terminal=false
Categories=AudioVideo;
