[Desktop Entry]
Type=Application
Exec=xmgrace
Name=xmgrace
Terminal=false
Comment=Scientific Plotting Application
Icon=/usr/share/pixmaps/xmgrace.png
Categories=Qt;KDE;Graphics;Development;
