[Desktop Entry]
Name=Hack Of Life
Comment=Multiplayer Conway's Life Variant
Exec=/usr/games/hack-of-life
Icon=hack-of-life
Terminal=true
Type=Application
Categories=Game;StrategyGame;
