[Desktop Entry]
Encoding=UTF-8
Name=Pingus
Comment=Guide the penguins safely home before they drop of the cliff
Exec=pingus -f
Icon=pingus.svg
Terminal=false
StartupNotify=false
Type=Application
Categories=Game;LogicGame;
