[Desktop Entry]
Name=Not Pac-Man
Comment=Rotating Pacman with realistic physics
Exec=notpacman
Icon=notpacman
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
