[Desktop Entry]
Name=Arnold CPC
Comment=Amstrad CPC emulator using SDL with a GTK+ interface
Exec=arnold
Icon=/usr/share/pixmaps/arnold-cpc.png
Terminal=false
Type=Application
Categories=Game;Emulator;
GenericName=Game
