[Desktop Entry]
Encoding=UTF-8
Name=HomeBank
GenericName=Personal Accounting
Comment=HomeBank, manage personal finances
Exec=homebank
Icon=/usr/share/homebank/images/homebank.svg
Terminal=false
Type=Application
Categories=Application;Office;Finances
StartupNotify=true
