[Desktop Entry]
Encoding=UTF-8
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Comment=Text Editor
Comment[bg]=Nedit Ðåäàêòîð
Comment[ca]=Editor Nedit
Comment[cs]=Editor Nedit
Comment[eo]=redaktilo Nedit
Comment[et]=Tekstiredaktor Nedit
Comment[fi]=Nedit-editori
Comment[fr]=Éditeur Nedit
Comment[hu]=Nedit szövegszerkesztő
Comment[is]=Nedit-ritill
Comment[mk]=Nedit - лесен и моќен уредувач
Comment[pt]=Editor Nedit
Comment[ro]=Editorul Nedit
Comment[ru]=Редактор Nedit
Comment[sk]=Editor Nedit
Comment[sl]=Urejevalnik Nedit
Comment[uk]=Редактор Nedit
Name=Nedit
Name[et]=Tekstiredaktor Nedit
Name[ru]=NEdit
Exec=nedit %f
Icon=nedit
Type=Application
Terminal=false

