# 20201031 bkw: very simple test config.
#   cp test.conf.example test.conf
#   /etc/rc.d/rc.triggerhappy start
# Press F11 and F12, while running:
#   watch ls /tmp/triggerhappy_works
# Note that comments are allowed in triggerhappy's .conf files,
# but blank lines ARE NOT allowed! That's why this looks so
# cramped and hard to read...
KEY_F11		1	/usr/bin/touch /tmp/triggerhappy_works
KEY_F12		1	/usr/bin/rm    /tmp/triggerhappy_works
