[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Shotcut
GenericName=Video Editor
Comment=Video Editor
Exec=sh -c "/opt/Shotcut/Shotcut.app/shotcut "%F""
Icon=applications-multimedia
Categories=Application