[Desktop Entry]
Name= SpaceZero
Name[he]= SpaceZero
Comment= A 2D Real Time Strategy space combat game
Exec=spacezero
Icon=spacezero
Terminal=false
Type=Application
Categories=Game;SpaceGame;
GenericName=Game
