[Desktop Entry]
Name=Zita DPL1
Comment=Digital Peak Limiter
Exec=zita-dpl1
Icon=zita-dpl1
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
