[Desktop Entry]
Type=Application
Name=MaterialXView
GenericName=MaterialX Viewer
GenericName[de]=MaterialX Viewer
GenericName[es]=Visor de MaterialX
GenericName[fr]=Visionneuse de MaterialX
GenericName[it]=Visualizzatore di MaterialX
GenericName[pt]=Visualizador de MaterialX
Comment=Interface for viewing GLSL shaders for MaterialX
Comment[de]=Schnittstelle zum Anzeigen von GLSL-Shadern für MaterialX
Comment[es]=Interfaz para ver sombreadores GLSL para MaterialX
Comment[fr]=Interface de visualisation des shaders GLSL pour MaterialX
Comment[it]=Interfaccia per la visualizzazione di ombreggiatori GLSL per MaterialX
Comment[pt]=Interface para visualização de shaders GLSL para MaterialX
Exec=MaterialXView %f
Icon=/usr/share/icons/hicolor/256x256/apps/materialx.png
Terminal=false
Categories=Graphics;
StartupNotify=true
MimeType=application/x-mtlx;model/materialx;application/x-materialx;application/mtlx+xml;image/mtlx+xml;application/mtlx+json;
