[Desktop Entry]
Name=Curseofwar
Comment=A Real Time Strategy game
Exec=curseofwar-sdl
Icon=curseofwar
Terminal=false
Type=Application
Categories=Game;StrategyGame;
