[Desktop Entry]
Encoding=UTF-8
Name=xwxapt
GenericName=xwxapt
Comment=GTK+ graphical application for decoding and saving weather images
Exec=xwxapt
Icon=xwxapt.png
Terminal=false
Type=Application
Categories=Network;HamRadio;NonAmateurModes;
Version=1.0
X-Desktop-File-Install-Version=0.15
