[Desktop Entry]
Name=ProjectLibre
Comment=Project Management
Comment[fr]=Gestion de projet
Comment[ru]=Управление проектами
Exec=projectlibre %F
Icon=/usr/share/pixmaps/projectlibre.png
Terminal=false
Type=Application
Categories=Office;ProjectManagement;
MimeType=application/x-projectlibre;
