[Desktop Entry]
Exec=pd
Icon=/usr/share/pd/pd_48-3.xpm
Name=Pure Data
GenericName=Real-time graphical programming environment for audio, video, and graphical processing
GenericName[el]=Γραφικό περιβάλλον προγραμματισμού ήχου, midi και εικόνας.
StartupNotify=true
Type=Application
Categories=Audio;AudioVideo;
