[Desktop Entry]
Name=Qbs Settings
GenericName=Qbs Settings
Exec=qbs-config-ui
Icon=qt5-logo
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;Development;
