[Desktop Entry]
Name=Qbs Settings
Comment=Qbs Configuration UI
Exec=qbs-config-ui
Icon=qt-logo
Terminal=false
Type=Application
Categories=Qt;Development;
