[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=OpenStego
GenericName=
Comment=Steganography tool
Icon=openstego
Exec=openstego
Categories=System;
MimeType=
