[Desktop Entry]
Categories=Education;
Exec=java -Xmx2048m -jar /usr/bin/archeopteryx.jar
Icon=archeopteryx.png
Name=Archeopteryx
StartupNotify=false
Type=Application
