[Desktop Entry]
Name=Re-Typeset
Comment=Scanned Image Re-typesetter
Exec=re-typeset
Icon=re-typeset
Terminal=false
Type=Application
Categories=Office;
