[Desktop Entry]
Type=Application
Version=1.0
Name=Mosaic-CK
GenericName=Web Browser
Comment=Cameron Kaiser's Updated NCSA Mosaic
Icon=mosaic-ck
Exec=mosaic-ck
Terminal=false
MimeType=text/html;x-scheme-handler/http;
Categories=Network;WebBrowser;
StartupNotify=false
