[Desktop Entry]
Version=1.0
Type=Application
Name=GoldenCheetah
Icon=GoldenCheetah
Exec=GoldenCheetah
Terminal=false
Comment=Cycling power analysis software
Keywords=Cycling;Training;Bike;Ride;Power;
Categories=Qt;Education;Sports;DataVisualization;Maps;
