[Desktop Entry]
Encoding=UTF-8
Exec=qjadeo
Icon=/usr/share/xjadeo/qjadeo_102.xpm
Name=jadeo
GenericName=Video player for sync with jack
GenericName[el]=Προβολή ταινίας σε συγχρονισμό με το jack
StartupNotify=true
Type=Application
Categories=AudioVideo;
