[Desktop Entry]
Name=DiskSearch
Comment=tool for searching for files on all your removable media disks
Exec=disksearch
Icon=disksearch
Terminal=false
Type=Application
Categories=System;FileManager
GenericName=FileManager
