[Desktop Entry]
Name=Not Tetris 2
Comment=Tetris with physics
Exec=nottetris2
Icon=nottetris2
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
