[Desktop Entry]
Version=1.0
Name=AVR8 Burn-O-Mat
Type=Application
Exec=avr8-burn-o-mat %u
Icon=/usr/share/pixmaps/avr8-burn-o-mat.png
Comment=Flash AVR Microcontrollers
Terminal=false
Categories=Development;
