[Desktop Entry]
Name=VICE C128 emulator
Comment=A Commodore 128 emulator
StartupNotify=true
Exec=x128
Icon=vice
Terminal=false
Type=Application
Categories=System
