[Desktop Entry]
Encoding=UTF-8
Name=VICE C128 emulator
Comment=Commodore 128 emulator from the VICE team
StartupNotify=true
Exec=x128
Icon=vice.png
Terminal=false
Type=Application
Categories=System
