[Desktop Entry]
Name=VICE C64 emulator
Comment=A fast Commodore 64 emulator
StartupNotify=true
Exec=x64
Icon=vice
Terminal=false
Type=Application
Categories=System
