[Desktop Entry]
Name=VICE C64DTV emulator
Comment=A C64DTV emulator
StartupNotify=true
Exec=x64dtv
Icon=vice
Terminal=false
Type=Application
Categories=System
