[Desktop Entry]
Name=VICE CBM-II emulator
Comment=A Commodore CBM-II (5x0) emulator
StartupNotify=true
Exec=xcbm5x0
Icon=vice
Terminal=false
Type=Application
Categories=System
