[Desktop Entry]
Name=VICE C64 SuperCPU emulator
Comment=An accurate SuperCPU64 emulator
StartupNotify=true
Exec=xscpu64
Icon=vice
Terminal=false
Type=Application
Categories=System
