[Desktop Entry]
Version=1.0
Name=Opera
Name[af]=opera
Name[eo]=Opero
Name[zu]=I Opera
TryExec=opera
Exec=opera %u
Terminal=false
StartupNotify=true
Icon=opera
GenericName=Web browser
GenericName[bs]=Web preglednik
GenericName[de]=Web-Browser
GenericName[eo]=TTT-rigardilo
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[eu]=Web arakatzailea
GenericName[fi]=WWW-selain
GenericName[fr]=Un navigateur web
GenericName[is]=Vafri
GenericName[it]=Browser Web
GenericName[nl]=webbrowser
GenericName[nn]=Nettlesar
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador
GenericName[ro]=Navigator de web
GenericName[sl]=Spletni brskalnik
GenericName[ven]=Buronza ya Webu
GenericName[xh]=Umkhangeli Zincwadi Zokubhaliweyo
GenericName[zu]=Umkhangeli zincwadi we Web
Comment=Web Browser
Type=Application
Categories=Qt;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;
