[Desktop Entry]
Encoding=UTF-8
Name=Opera Web Browser
GenericName=Web Browser
Comment=Opera is a lightweight and free multiplatform web browser
Exec=opera
Icon=/usr/share/pixmaps/opera.xpm
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Network;
