[Desktop Entry]
Name=Telegram
GenericName=Internet
Comment=Telegram Desktop Chat Client
Icon=telegram
Exec=Telegram -- %u
TryExec=Telegram
Terminal=false
Type=Application
Categories=Internet;Network
