[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=LOIQ
GenericName=Low Orbit Ion Cannon in Qt4
Comment=Network attack application
Icon=loiq
Exec=loiq
Categories=Network;Qt;
MimeType=
