[Desktop Entry]
Type=Application
Name=OpenJazz (shareware)
Comment=Jazz Jackrabbit™ game engine reimplementation
Icon=openjazz
Exec=/usr/games/openjazz /usr/share/games/openjazz/shareware
Categories=Game;ActionGame;
Keywords=jazz;jackrabbit;green;rabbit;bunny;jump;run;gun;platform;
Terminal=false
StartupNotify=false
