[Desktop Entry]
Name=Jazz Jackrabbit (shareware)
Comment=Classic DOS game (OpenJazz engine)
Exec=openjazz
Icon=openjazz-shareware
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
