[Desktop Entry]
Name=Ceferino
GenericName=ceferino
Comment=Save the cows!
Type=Application
Exec=ceferino
Icon=ceferino
Terminal=false
Categories=Game;ActionGame;
