[Desktop Entry]
Encoding=UTF-8
Name=openMSX Catapult
Comment=Graphical interface for openMSX
Type=Application
Exec=%INSTALL_BASE%/bin/catapult
Icon=%INSTALL_BASE%/resources/icons/catapult.xpm
DocPath=%INSTALL_BASE%/doc/manual/index.html
Terminal=false
Categories=Application;Emulator;Game;
