[Desktop Entry]
Type=Application
Terminal=false
Exec=/opt/BlockstreamGreen/BlockstreamGreen-x86_64.AppImage
Name=Blockstream Green
Icon=BlockstreamGreen
