[Desktop Entry]
Encoding=UTF-8
Name=QtOctave
Comment=Scientific Computing using GNU Octave
Exec=/usr/bin/qtoctave
Icon=/usr/share/qtoctave/images/octave-sombrero.png
Terminal=false
Type=Application
Categories=Development;Math;Science;
StartupNotify=true
