[Desktop Entry]
Version=1.0
Exec=LimeWire
TryExec=LimeWire
Icon=LimeWire
Terminal=false
Name=LimeWire
Comment=Peer to Peer Filesharing Client
Categories=Network;
Type=Application
StartupNotify=true
