[Desktop Entry]
Name=Asteroids Infinity
Comment=Arcade Game
Exec=asteroidsinfinity
Icon=asteroidsinfinity
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
