[Desktop Entry]
Name=mythTV setup
Comment=Setup for mythTV.
Icon=mythtv-setup
Exec=mythtv-setup
Terminal=false
Type=Application
Categories=AudioVideo;Player;
