[Desktop Entry]
Name=mythTV frontend
Comment=Record, playback and watch TV.
Icon=mythfrontend
Exec=mythfrontend
Terminal=false
Type=Application
Categories=AudioVideo;Player;
