[Desktop Entry]
Name=Boinc Manager
Type=Application
Exec=boincgui.sh
Icon=boinc
Categories=Education;Science;
Comment=Use the idle time on your computer to cure diseases, study global warming, discover pulsars, and do many other types of scientific research
Comment[de]=Nutzen sie die Leerlaufzeit ihres Computers um Krankheiten zu heilen, globale Erwärmung zu untersuchen, Pulsare zu erforschen und vielen andere Arten der wissenschaftlichen Forschung nachzugehen.
Comment[it]=Usa il tempo di inattività del tuo computer per curare malattie, studiare il riscaldamento globale, scoprire pulsar e fare molti altri tipi di ricerche scientifiche. 
Comment[es]=Use el tiempo de inactividad de su ordenador para curar enfermedades, estudiar el calentamiento global, descubrir pulsares, y haga muchos otros tipos de investigación científica.
