[Desktop Entry]
Encoding=UTF-8
Name=kompoZer
GenericName=Web Authoring System
Comment=Create a Web Site
Comment[pt_BR]=Autorador de Web Sites
Exec=kompozer
Icon=kompozer.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Development;
