[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=Aqualung
Comment=Aqualung Music Player
Icon=aqualung
Exec=aqualung
Terminal=false
Categories=Application;AudioVideo;AudioPlayer;
