[Desktop Entry]
Name=I-Nex
Comment=I-Nex Viewing System Device Information.
Exec=/usr/bin/i-nex.gambas
Icon=/usr/share/pixmaps/i-nex-32.png
Terminal=false
StartupNotify=true
Type=Application
Categories=System;
Version=1.0
