[Desktop Entry]
Name=I-Nex Library
Comment=I-Nex System Library Information.
Exec=/usr/bin/i-nex.gambas --library
Icon=/usr/share/pixmaps/i-nex-32.png
Terminal=false
StartupNotify=true
Type=Application
Categories=System;
Version=1.0
