[Desktop Entry]
Version=1.0
Name=BitchX
GenericName=IRC Client
Comment=The bitch of IRC!
Icon=BitchX
Exec=BitchX
Terminal=true
Type=Application
Categories=Network;IRCClient;
