[Desktop Entry]
Name=Urban Lightscape
Comment=A photo filter for exposure, brightness and lighting correction
Exec=urbanlightscape
Icon=urbanlightscape
Terminal=false
Type=Application
Categories=Graphics;Photography;
GenericName=Graphics
