[Desktop Entry]
Name=Yolo
Name[af]=Yolo
Name[as]=Yolo
Name[ast]=Yolo
Name[be]=Yolo
Name[be@latin]=Yolo
Name[bg]=Yolo
Name[bn_IN]=Yolo
Name[ca]=Yolo
Name[ca@valencia]=Yolo
Name[cs]=Yolo
Name[csb]=Yolo
Name[da]=Yolo
Name[de]=Yolo
Name[el]=Yolo
Name[en_GB]=Yolo
Name[eo]=Yolo
Name[es]=Yolo
Name[et]=Yolo
Name[eu]=Yolo
Name[fi]=Yolo
Name[fr]=Yolo
Name[ga]=Yolo
Name[gl]=Yolo
Name[he]=Yolo
Name[hr]=Yolo
Name[hsb]=Yolo
Name[hu]=Yolo
Name[ia]=Yolo
Name[id]=Yolo
Name[is]=Yolo
Name[it]=Yolo
Name[ja]=Yolo
Name[ka]=Yolo
Name[kk]=Yolo
Name[km]=Yolo
Name[ko]=Yolo
Name[ku]=Yolo
Name[lt]=Yolo
Name[lv]=Yolo
Name[ms]=Yolo
Name[nb]=Yolo
Name[nds]=Yolo
Name[nl]=Yolo
Name[nn]=Yolo
Name[oc]=Yolo
Name[pl]=Yolo
Name[pt]=Yolo
Name[pt_BR]=Yolo
Name[ro]=Yolo
Name[ru]=Yolo
Name[se]=Yolo
Name[sk]=Yolo
Name[sl]=Yolo
Name[sr@ijekavianlatin]=Yolo
Name[sr@latin]=Yolo
Name[sv]=Yolo
Name[tg]=Yolo
Name[tr]=Yolo
Name[ug]=Yolo
Name[uk]=Yolo
Name[uz]=Yolo
Name[uz@cyrillic]=Yolo
Name[vi]=Yolo
Name[wa]=Yolo
Name[x-test]=xxYoloxx
Name[zh_CN]=Yolo
Name[zh_TW]=Yolo
Exec=java -jar /usr/bin/Yolo.jar
Icon=Yolo
Type=Application
Categories=Java;Graphics;Audio;Sound;
GenericName=Lipsync
GenericName[x-test]=xxLipsyncxx
Terminal=false
