[Desktop Entry]
Name= Caph
Name[he]= Caph
Comment= It is a sandbox game, based on physics
Exec=caph
Icon=caph
Terminal=false
Type=Application
Categories=Game;PuzzleGame;
GenericName=Game
