[Desktop Entry]
Categories=System;PackageManager;
Encoding=UTF-8
MultipleArgs=false
Terminal=false
Icon=/usr/share/pixmaps/smart.png
Exec=smart --gui
Type=Application
StartupNotify=true
Name=Smart Package Manager
GenericName=Package Manager
Comment=Install packages from various sources
X-KDE-SubstituteUID=true
X-KDE-Username=root

Comment[bg]=Инсталиране на пакети от различни източници
GenericName[bg]=Управление на пакети
Comment[cs]=Instalace balíčků z různých zdrojů
GenericName[cs]=Správce balíčků
Comment[de]=Pakete aus verschiedenen Quellen installieren
GenericName[de]=Paketmanager
Comment[el]=Εγκατάσταση από πολλές πηγές
GenericName[el]=Διαχειριστής Πακέτων
Comment[es]=Instalación de paquetes de varios orígenes
GenericName[es]=Gestor de paquetes
Comment[fi]=Asenna paketteja eri lähteistä
GenericName[fi]=Ohjelmapakettienhallinta
Comment[fr]=Installer les packages de plusieurs sources
GenericName[fr]=Gestionnaire de packages
Comment[hu]=Csomagok telepítése különféle forrásokból
GenericName[hu]=Csomagkezelő
Comment[it]=Installa i pacchetti da varie origini
GenericName[it]=Programma di gestione dei pacchetti
Comment[ja]=多様なソースからパッケージをインストールします
GenericName[ja]=パッケージマネージャ
Comment[km]=ដំឡើង​កញ្ចប់​ពី​ប្រភព​ផ្សេងៗ
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​កញ្ចប់
Comment[nb]=Installer programvarepakker fra ulike kilder
GenericName[nb]=Pakkebehandler
Comment[nl]=Installeer pakketten uit diverse bronnen
GenericName[nl]=Pakketbeheer
GenericName[pa]=ਪੈਕੇਜ ਮੈਨੇਜਰ
Comment[pl]=Instalacja pakietów z różnych źródeł
GenericName[pl]=Menedżer pakietów
Comment[pt]=Instalar pacotes de várias origens
GenericName[pt]=Gestor de Pacotes
Comment[pt_BR]=Instalar pacotes de várias origens
GenericName[pt_BR]=Gerenciador de Pacotes
Comment[sv]=Installera paket från olika källor
GenericName[sv]=Pakethanterare
Comment[uk]=Встановлення пакунків з різних джерел
GenericName[uk]=Керування пакунками
Comment[zh_CN]=安装各种来源的程序包
GenericName[zh_CN]=包管理器
Comment[zh_TW]=安裝各種來源的套件
GenericName[zh_TW]=套件管理員
