[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=MicroEmulator
GenericName=J2ME emulator
Comment=Run Java MIDlets on PC
Icon=microemulator
Exec=microemulator
Categories=System;Emulator;
