[Desktop Entry]
Version=1.0
Name=KEGS
GenericName=Apple IIgs Emulator
Type=Application
Exec=xkegs
Icon=kegs
Terminal=false
StartupNotify=false
Categories=Game;Emulator;
