[Desktop Entry]
Version=1.0
Type=Application
Name=(X)MedCon
GenericName=Medical Image Conversion 
Comment=Medical Image Conversion 
Exec=xmedcon
Icon=xmedcon.png
Categories=Graphics;
