[Desktop Entry]
Name=Wmgui
GenericName=Graphical user interface to the wiimote
GenericName[fr]=Interface graphique pour la wiimote
Comment=Simple GTK gui to the wiimote to test and display the wiimote data.
Comment[fr]=Simple interface graphique pour la wiimote pour tester et afficher les informations de la wiimote.
Exec=wmgui
Icon=wmgui
Terminal=false
Type=Application
Categories=Utility;HardwareSettings;Settings;
