[Desktop Entry]
Exec=sunbird
Icon=sunbird
Type=Application
Categories=Office;
Name=Sunbird
GenericName=Calender
Comment=Sunbird Calender Manager
MimeType=text/html;
X-KDE-StartupNotify=true
