[Desktop Entry]
Name=Chocolate Duke 3D
GenericName=Vanilla Duke Nukem 3D experience.
Type=Application
Comment=Faithful Duke Nukem 3D port, similar to Chocolate Doom.
Exec=chocolate-duke3d
Icon=chocolate-duke3d
Terminal=false
Categories=Game
