[Desktop Entry]
Name=Xaric
GenericName=IRC Client
Comment=Chat with other people online
Comment[ca]=Parla amb altres persones en línia.
Comment[cs]=Chatujte online s ostatními lidmi
Comment[da]=Chat med andre personer online
Comment[de]=Online mit anderen Menschen chatten
Comment[en_GB]=Chat with other people online
Comment[es]=Chatea con otras personas en línea
Comment[et]=Vestle teiste kasutajatega internetis
Comment[fi]=Keskustele muiden kanssa verkossa
Comment[fr]=Parlez avec d'autres personnes en ligne
Comment[id]=Mengobrol dengan orang lain daring
Comment[it]=Chiacchiera con altri utenti online
Comment[ja_JP]=他の人とオンラインチャットをします
Comment[ko]=온라인에 있는 사람들과 대화합니다
Comment[lt]=Kalbėkite su kitais prisijungusiais žmonėmis
Comment[nb]=Prat med andre folk på nettet
Comment[pl]=Rozmawiaj z innymi ludźmi przez internet
Comment[pt]=Conversa com outras pessoas online
Comment[pt_BR]=Converse com outras pessoas na rede
Comment[sq]=Bisedoni në linjë me persona të tjerë
Comment[sr]=Ћаскајте са пријатељима онлајн
Comment[sv]=Chatta med andra människor online
Comment[zh_CN]=与其他人在线聊天
Keywords=IM;Chat;
Keywords[ca]=MI;Xat;
Keywords[da]=IM;Chat;
Keywords[de]=IM;Chat;
Keywords[en_GB]=IM;Chat;
Keywords[es]=IM;Chat;
Keywords[eu]=IM;Chat;Txat;
Keywords[fi]=IM;Chat;pikaviestin;keskustelu;
Keywords[fr]=IM;Chat;
Keywords[id]=IM;Obrolan;
Keywords[it]=IM;Chat;Messaggistica Istantanea;IRC;
Keywords[ko]=IM;인스턴트 메신저;Chat;대화;
Keywords[lt]=IM;Pokalbiai;
Keywords[nb]=IM;Chat;
Keywords[pl]=IM;Chat;
Keywords[pt]=IM;Chat;
Keywords[pt_BR]=IM;Chat;
Keywords[ru]=IM;Чат;
Keywords[sq]=IM;Fjalosje;
Keywords[sr]=ИМ;Ћаскање;
Keywords[sv]=IM;Chatt;
Keywords[zh_CN]=IM;聊天;
Exec=xaric
Icon=xaric
Terminal=true
Type=Application
Categories=Network;IRCClient;
StartupNotify=false
MimeType=x-scheme-handler/irc;x-scheme-handler/ircs;
