[Desktop Entry]
Type=Application
Name=ePSXe
GenericName=ePSXe
Comment=Enhanced PSX emulator
Icon=/usr/share/pixmaps/epsxe.png
Exec=/usr/bin/epsxe
Terminal=false
Categories=Game;
