[Desktop Entry]
Name=P4Admin
GenericName=Perforce Visual Administration Tool
Comment=Perforce Visual Administration Tool
Exec=p4admin
Icon=P4-Admin
Categories=Development;
Terminal=false
Type=Application
