[Desktop Entry]
Name=P4Merge
GenericName=Perforce Visual Merge Tool
Comment=Perforce Visual Merge Tool
Exec=p4merge %U
Icon=P4-Merge
Categories=Development;
Terminal=false
Type=Application
