[Desktop Entry]
Name=p4v
GenericName=Perforce Visual Client
Comment=Use Perforce Version Control
Exec=p4v
Icon=p4v
Categories=Development;
Terminal=false
Type=Application
