[Desktop Entry]
Name=b2
Comment=BBC Microcomputer Emulator
Exec=/opt/b2/b2
Icon=/usr/share/pixmaps/b2.png
Terminal=false
Type=Application
Categories=System;Emulator;
