[Desktop Entry]
Name=Arduino IDE
GenericName=Arduino IDE
Comment=Arduino IDE development
Exec=/opt/arduino/arduino
Icon=arduino
Terminal=false
Type=Application
Categories=KDE;Qt;GNOME;GTK;Development;
