[Desktop Entry]
Name=Arduino IDE
GenericName=Arduino IDE
Comment=Arduino IDE development
Exec=/usr/bin/arduino
Icon=arduino
Terminal=false
Type=Application
Categories=KDE;Qt;GNOME;GTK;Development;
