[Desktop Entry]
Encoding=UTF-8
Name=Gtypist
GenericName=GNU Typist typing tutor
Icon=keyboard
Exec=gtypist
Type=Application
Categories=Education;
Terminal=true
StartupNotify=false
