[Desktop Entry]
Type=Application
Name=electron
Icon=electron
Exec=electron %u
Categories=Development;GTK;
StartupNotify=true
StartupWMClass=electron

