[Desktop Entry]
Categories=Education;
Comment=Scientific image manipulation software
Exec=imagej
Icon=imagej
Name=ImageJ
StartupNotify=false
Type=Application
