[Desktop Entry]
Name=tkcvs
Comment=Graphical Interface to CVS and Subversion
Exec=tkcvs
Icon=/usr/lib/tkcvs/bitmaps/tkcvs48.xbm
Terminal=false
Type=Application
Categories=Application;Development
StartupNotify=false
Encoding=UTF-8
