[Desktop Entry]
Name=DeltaChat
Exec=deltachat-desktop --no-sandbox %U
Terminal=false
Type=Application
Icon=deltachat-desktop
StartupWMClass=DeltaChat
Comment=Desktop Application for delta.chat
Keywords=dc;chat;delta;messaging;messenger;email
Categories=Network;Chat;InstantMessaging;
