[Desktop Entry]
Name= PyMOL
Name[he]= PyMOL
Comment= OpenGL based molecular visualization system
Exec=pymol
Icon=pymol
Terminal=false
Type=Application
Categories=Graphics;3DTool;
GenericName=Graphics
