[Desktop Entry]
Name=Skype (Alternative)
Comment=Skype Internet Telephony
Exec=env XLIB_SKIP_ARGB_VISUALS=1 LD_PRELOAD=/usr/lib/libv4l/v4l1compat.so skype %U
Icon=skype
Terminal=false
Type=Application
Categories=Network;
MimeType=x-scheme-handler/skype;
X-KDE-Protocols=skype
