[Desktop Entry]
Encoding=UTF-8
MultipleArgs=false
Terminal=false
Exec=scorched3d
Icon=scorched3d
Type=Application
Categories=Game;Strategy
StartupNotify=false
Name=Scorched 3D
GenericName=Artillery Game

