[Desktop Entry]
X-MultipleArgs=false
Terminal=false
Exec=scorched3d
Icon=scorched3d
Type=Application
Categories=Game;
StartupNotify=false
Name=Scorched 3D
GenericName=Artillery Game
