[Desktop Entry]
Name=qRadioPredict
Comment=Amateur Radio Propagation Plotter
TryExec=qRadioPredict
Exec=qRadioPredict
Icon=qradiopredict
Terminal=false
Type=Application
Categories=HamRadio;
