[Desktop Entry]
Name=Horgand
GenericName=Soft Synth
Comment=Organd Soft Synth
Type=Application
Categories=AudioVideo;Audio;
Exec=horgand
Icon=horgand
Terminal=false
