[Desktop Entry]
Encoding=UTF-8
Name=MilkyTracker
GenericName=Tracker
Exec=milkytracker
Icon=/usr/share/pixmaps/milkytracker-icon-128.png
Type=Application
Categories=Application;AudioVideo;AudioVideoEditing
