[Desktop Entry]
Name= Tile World
Name[he]= Tile World
Comment= Tile World is an emulation of the game "Chip's Challenge"
Exec=tworld
Icon=tworld
Terminal=false
Type=Application
Categories=Game;Puzzle;
GenericName=Game
