[Desktop Entry]
Name=Domination
Exec=/usr/games/domination
Icon=domination
Type=Application
Terminal=false
Comment=Risk-like Strategy Board Game
Categories=Game;BoardGame;
