[Desktop Entry]
Name=Domination Map Editor
Exec=domination
Icon=domination
Type=Application
Terminal=false
Comment=Create maps for Domination
Categories=Game;BoardGame;
