[Desktop Entry]
Name=QChdman
Comment=QT Compressed Hunks of Data Manager GUI
Exec=qchdman
Icon=/usr/share/qmc2/img/qchdman.png
Terminal=false
Type=Application
Categories=Game;Emulator;
