[Desktop Entry]
Name=QMC2
Comment=M.A.M.E./M.E.S.S. Catalog / Launcher II
Exec=qmc2
Icon=qmc2
Terminal=false
Type=Application
Categories=Game;Emulator;
