[Desktop Entry]
Version=1.0
Type=Application
Name=CDEmu
Comment=Client for handling optical media (CD/DVD) images
NoDisplay=true
TryExec=cdemu
Exec=cdemu load any %F
MimeType=application/libmirage-image;application/x-cd-image;application/x-cue;application/x-cdrdao-toc
Icon=cdemu-client
Terminal=false
Categories=System;

