[Desktop Entry]
Version=1.0
Type=Application
Name=Surf
Comment=A minimalistic web browser
Exec=surf
Terminal=false
Icon=surf
Categories=Network;
MimeType=text/html;
