[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=yEd
GenericName=Graph editor
Comment=Create and edit diagrams
Icon=yed
Exec=yed
Categories=Graphics;
MimeType=
