[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=DIIT
GenericName=Digital Invisible Ink Toolkit
Comment=Steganography tool
Icon=diit
Exec=diit
Categories=System;
MimeType=
