[Desktop Entry]
Type=Application
Exec=netbeans
Name=Netbeans
GenericName=NetBeans IDE
Comment=IDE for Java
Icon=netbeans
StartupNotify=true
Categories=Qt;KDE;GNOME;Development;
