[Desktop Entry]
Name=OpenMortal
Comment=A free Mortal Kombat clone
Exec=openmortal
Icon=openmortal
Terminal=false
Type=Application
Categories=ArcadeGame;Game;
